@model NotificationViewModel
@{
    ViewBag.Title = Pages.Notification;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Notification", "Index", Pages.Notification)
    };
}
<!-- Main content -->
<section class="main-content">
    @using (Html.BeginForm("Detail", "Notification", FormMethod.Post, new { @id = "addserverform" }))
    {
        <table id="example1" class="@Constants.HtmlFormat.DATATABLE_CLASS">
            <thead>
                <tr style="background-color: #404040">
                    <th><span style="color: ghostwhite">Notification</span>
                    <th><span style="color: ghostwhite">Time</span>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var item in Model.NotificationList)
                {
                    <tr class="btnRequestCode" data-requestCode="@item.RequestCode">
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestTypeName)
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr style="background-color: #404040">
                    <th><span style="color: ghostwhite">Notification</span></th>
                    <th><span style="color: ghostwhite">Time</span></th>
                </tr>
            </tfoot>
        </table>
    }
</section><!-- /.content -->
<script type="text/javascript">
    $(function () {
        //DOING, aData lay tu dau?
        $("#example1").dataTable({
            "iDisplayLength": -1,
            "aaSorting": [[1, "desc"]] // Sort by first column descending
        });
        //row.css('background-color', '#ffe6e6');
        // row.css('background-color', '#ccd9ff');
        $('#example1').on('dblclick', '.btnRequestCode', function () {
            var result = $(this).attr('data-requestCode');
            $.ajax({
                data: { code: result },
                url: '@Url.Action("Detail","Notification")',
                type: 'POST',
                success: function (result) {

                }
            });
        });
    });
</script>
