@model IEnumerable<IMS.Models.ServerLocation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Raw("Server Name")
        </th>
        <th>
            @Html.Raw("Location")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.Raw(item.Location+"123")*@
        </td>
        <td>
            @*Lam sao cho hien thi RackId + RackUnit
                @Html.DisplayFor(modelItem => item.Location.Status)*@
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
