@model IMS.Models.ServerAttribute

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServerAttribute</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttributeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttributeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributeValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisteredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisteredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Server.Maker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Server.Maker)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
