@model IMS.Models.IPIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>List of IP Address</h2>
@using (Html.BeginForm("Index", "IP", FormMethod.Get))
{
    <b>Search By:</b>

    <br />
    <text>Gateway</text>
    @Html.DropDownList("GatewaySearch", "--Select--")
    <br />
    <text>Status</text>
    @Html.DropDownList("StatusSearch", "--Select--")
    <br />
    <input type="submit" value="Search" />
}
<p>
    @Html.ActionLink("Add new IP Addresses", "CreateIP")
</p>

<table class="table">
    <tr>
        <th>
            @Html.Raw("IPAddress")
        </th>
        <th>
            @Html.Raw("Gateway")
        </th>
        <th>
            @Html.Raw("Subnetmask")
        </th>
        <th>
            @Html.Raw("RegisteredDate")
        </th>
        <th>
            @Html.Raw("Status")
        </th>
        <th>
            @Html.Raw("IsDefaultIP")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.IPs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IPAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gateway)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subnetmask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDefault)
            </td>
            <td>
                @Html.ActionLink("ChangeStatus", "ChangeStatus", new { id = item.Id })
            </td>

        </tr>
    }

</table>
