@model IMS.Models.IPIndexViewModel
@{
    ViewBag.Title = "IPAddressPage";
    ViewBag.Role = "Shift Head";
}

<section class="content-header">
    <h1>
        List of IP Address
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index2", "Schedule")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">IP Address</li>
    </ol>
</section>
<section class="content" style="height: 60px">
    <a class="btn btn-primary pull-left" data-toggle="modal" data-target="#addip-modal"><i class="fa fa-plus"></i> Add new IP Address</a>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>IP Address</th>
                        <th>Gateway</th>
                        <th>Subnet mask</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i=0;i<Model.IPs.Count;i++)
                    {
                        var item = Model.IPs[i];
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IPAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gateway)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subnetmask)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusName)
                            </td>
                            <td>
                                @if (item.StatusName == "Blocked")
                                {

                                    <a href="#" data-toggle="modal" data-target="#unblockIP-modal">Unblock IP</a>
                                }
                                @if (item.StatusName == "Available")
                                {
                                  
                                    <a href="#" data-toggle="modal" data-target="#blockIP-modal">Block IP</a>
                                }
                               
                                <div class="modal fade" id="blockIP-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" style="width: 500px;height: 500px">
                                        <div class="modal-content">

                                            <div class="modal-body">
                                                <h4>Are you sure to block this IP Address?</h4>
                                            </div>
                                            <div class="modal-footer clearfix">
                                                @using (Html.BeginForm("Index2", "IP", FormMethod.Post))
                                                {
                                                 @Html.HiddenFor(model => Model.IPs[i].Id)
                                                <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-check"></i> Yes</button>
                                                }
                                                
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>

                                            </div>

                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                                <div class="modal fade" id="unblockIP-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" style="width: 500px;height: 500px">
                                        <div class="modal-content">

                                            <div class="modal-body">
                                                <h4>Are you sure to unblock this IP Address?</h4>
                                            </div>
                                            <div class="modal-footer clearfix">
                                                @using (Html.BeginForm("Index2", "IP", FormMethod.Post))
                                                {
                                                    @Html.HiddenFor(model => Model.IPs[i].Id)
                                                <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-check"></i> Yes</button>
                                                }
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>

                                            </div>

                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </td>

                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th>IP Address</th>
                        <th>Gateway</th>
                        <th>Subnet mask</th>
                        <th>Status</th>
                        <th></th>

                    </tr>
                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->

</section><!-- /.content -->
<!-- ADD IP MODAL -->
<div class="modal fade" id="addip-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-plus"></i> Add new IP Address Range</h4>
            </div>
            <form action="#" method="post">
                <div class="modal-body no-border">
                    <table>
                        <tr>
                            <th>Network Address</th>
                            <th>Netmask</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nerwork Address" />
                                </div>

                            </td>
                            <td>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>24</option>
                                        <option>25</option>
                                        <option>26</option>
                                        <option>27</option>
                                        <option>28</option>
                                    </select>
                                </div>

                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer clearfix">

                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>

                    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-plus"></i> Add</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- page script -->
<script type="text/javascript">
            $(function() {
                $("#example1").dataTable();

            });
</script>

