@model IMS.Models.IPIndexViewModel
@{
    ViewBag.Title = "IPAddressPage";
    ViewBag.Role = "Shift Head";
}

<section class="content-header">
    <h1>
        List of IP Address
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index2", "Schedule")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">IP Address</li>
    </ol>
</section>
<section class="content">
    <a class="btn btn-primary pull-left" data-toggle="modal" data-target="#addip-modal"><i class="fa fa-plus"></i> Add new IP Address</a>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>IP Address</th>
                        <th>Gateway</th>
                        <th>Subnet mask</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.IPs)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IPAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gateway)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subnetmask)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusName)
                            </td>
                            <td>


                                <a type="button" data-toggle="modal" class="open-blockIP-modal" href="#blockIP-modal" data-id="@item.Id">
                                    @{
                                        if (item.StatusName == "Blocked")
                                        {<label>Unblock IP</label>}
                                        else if (item.StatusName == "Available")
                                        { <label>Block IP</label>}
                                    }
                                </a>
                                <div class="modal fade" id="blockIP-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog" style="width: 400px">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                @if (item.StatusName == "Available")
                                                {
                                                    <h4>Are you sure to block this IP Address?</h4>
                                                    <div class="form-group">
                                                        <label>Description:</label>
                                                        <textarea class="form-control" style="width: 200px"></textarea>
                                                    </div>
                                                    
                                                }
                                                else
                                                {
                                                    <h4>Are you sure to unblock this IP Address?</h4>
                                                }

                                            </div>
                                            <div class="modal-footer clearfix">
                                                @*@using (Html.BeginForm("ChangeIPStatus", "IP"))
                                                {
                                                    <input type="hidden" name="ipid" id="ipid" value="" />
                                                    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-check"></i> Yes</button>
                                                }*@
                                                <a href="@Url.Action("ChangeIPStatus","IP", new {id = item.Id})" class="btn btn-primary pull-left"><i class="fa fa-check"></i>Yes</a>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                                            </div>

                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </td>


                        </tr>
                                        }

                </tbody>
                <tfoot>
                    <tr>
                        <th>IP Address</th>
                        <th>Gateway</th>
                        <th>Subnet mask</th>
                        <th>Status</th>
                        <th></th>

                    </tr>
                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->

</section><!-- /.content -->
<!-- ADD IP MODAL -->
<div class="modal fade" id="addip-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-plus"></i> Add new IP Address Range</h4>
            </div>
            <form action="#" method="post">
                <div class="modal-body no-border">
                    <table>
                        <tr>
                            <th>@Html.Label("Network Address", htmlAttributes: new {@class = "control-label"})</th>
                            <th>@Html.Label("Netmask", htmlAttributes: new {@class = "control-label"})</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Address, new {htmlAttributes = new {@class = "form-control", @placeholder = "Network Address", @id = "address"}})

                                </div>

                            </td>
                            <td>
                                <div class="form-group" style="width: 100px">
                                    @{
                                        IEnumerable<SelectListItem> netmask = new List<SelectListItem>()
                                        {
                                            new SelectListItem()
                                            {
                                                Text = "24",
                                                Value = "24"
                                            },
                                            new SelectListItem()
                                            {
                                                Text = "25",
                                                Value = "25"
                                            },
                                            new SelectListItem()
                                            {
                                                Text = "26",
                                                Value = "26"
                                            },
                                            new SelectListItem()
                                            {
                                                Text = "27",
                                                Value = "27"
                                            },
                                            new SelectListItem()
                                            {
                                                Text = "28",
                                                Value = "28"
                                            }

                                        };
                                        SelectList netmask1 = new SelectList(netmask, "Value", "Text", Model.Netmask);
                                    }

                                    @Html.DropDownList("Netmask", netmask1, htmlAttributes: new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Netmask, "", new {@class = "text-danger"})
                                </div>

                            </td>
                        </tr>
                     
                    </table>
                    <div>
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer clearfix">

                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>

                    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-plus"></i> Add</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- page script -->
<script type="text/javascript">
    $(function() {
        $("#example1").dataTable();

    });
</script>
@*<script>
    $(document).on("click", ".open-blockIP-modal", function () {
     var myId = $(this).data('id');
     $(".modal-footer #ipid").val( myId );

});
</script>*@
