@model RequestRentRackViewModel

@{
    ViewBag.Title = "RequestRentRackInfo2";
    ViewBag.Role = "Shift Head";
}

<section class="content-header">
    <h1>
        Detail Request Rent Rack
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index2", "Schedule")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Detail Request Rent Rack</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-body table-responsive">
            @using (Html.BeginForm("ProcessRequestRentRack", "ProcessRequest", FormMethod.Post))
            {
                <dl class="dl-horizontal">
                    <dt>
                        From customer
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>
                    <dt>
                        Full Name
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>
                    <dt>
                        Requested Time
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RequestedTime, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>
                    <dt>
                        Status
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StatusName, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>
                    <dt>
                        Amount of racks
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RackNumbers, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>

                    <dt>
                        Amount of racks
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>
                    <dd>
                        <div class="form-group">
                            <table id="" class="table table-bordered table-striped  col-xs-offset-1">
                                <thead>
                                    <tr>
                                        <th>Row</th>
                                        <th>Racks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.listRackByRows.Count; i++)
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(model => Model.listRackByRows[i].RowName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.HiddenFor(modelItem => modelItem.listRackByRows[i].RowName)
                                            </td>
                                            <td>
                                                @if (Model.listRackByRows[i].RacksOfRow.Count > 0)
                                                {
                                                    <dl>
                                                        @for (int j = 0; j < Model.listRackByRows[i].RacksOfRow.Count; j++)
                                                        {

                                                            <dt class="check" rack-code="@Model.listRackByRows[i].RacksOfRow[j].RackCode">
                                                                <div>
                                                                    @Html.CheckBoxFor(modelItem => Model.listRackByRows[i].RacksOfRow[j].Checked)
                                                                </div>
                                                                <div class="selectedRack">
                                                                    @Html.DisplayFor(model => Model.listRackByRows[i].RacksOfRow[j].RackName, new { htmlAttributes = new { @class = "form-control" } })
                                                                </div>
                                                                @Html.HiddenFor(model => Model.listRackByRows[i].RacksOfRow[j].RackCode, new { htmlAttributes = new { @class = "form-control" } })
                                                            </dt>
                                                        }

                                                    </dl>
                                                }
                                                else
                                                {
                                                    <dl>
                                                        @Html.Raw("khong co rack available")
                                                    </dl>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </dd>
                    <dt></dt>
                    @Html.HiddenFor(x => x.RequestCode)
                    @Html.HiddenFor(x => x.Customer)
                    @Html.HiddenFor(x => x.RequestType)
                    @if (Model.StatusCode == Constants.StatusCode.REQUEST_WAITING || Model.StatusCode == Constants.StatusCode.REQUEST_PROCESSING)
                    {
                        <dd>
                            <button type="submit" class="btn btn-primary">Approve</button>
                            <button type="submit" class="btn btn-danger">Reject</button>
                        </dd>
                    }
                </dl>
            }
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>
