@model RequestIPViewModel
@{
    ViewBag.Title = "RequestReturnIPInfo2";
    ViewBag.Role = "Shift Head";
}

<section class="content-header">
    <h1>
        Detail Request Return IP Address
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index2", "Schedule")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Detail Request Return IP Address</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-body table-responsive">
            @using (Html.BeginForm("ProcessRequesReturnIp", "ProcessRequest", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.RequestCode)
                @Html.HiddenFor(model => model.RequestType)
                @Html.HiddenFor(model => model.Ips)
                <dl class="dl-horizontal">
                    <dt>
                        From customer
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>
                    <dt>
                        Requested Time
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RequestedTime, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>
                    <dt>
                        Status
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StatusName, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>
                    <dt>
                        Server
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SelectedServer, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.SelectedServer)
                    </dd>
                    <dt>
                        Selected IP Address
                    </dt>

                    <dd>
                        @foreach (var item in Model.Ips)
                {
                            @Html.DisplayFor(model => item, new { htmlAttributes = new { @class = "form-control" } })
                            <br />
                        }
                    </dd>
                    <div class="form-group">
                        <dt>
                            Description:
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </dd>
                    </div>

                    <dt></dt>
                    <dd>
                        @if (Model.StatusCode == Constants.StatusCode.REQUEST_WAITING || Model.StatusCode == Constants.StatusCode.REQUEST_PROCESSING)
                        {
                            <button type="submit" id="btnApprove" class="btn btn-primary" name="Approve" value="Approve">Approve</button>
                            <button type="submit" class="btn btn-danger">Reject</button>
                        }
                    </dd>

                </dl>
            }
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>
