@model IEnumerable<IMS.Models.Rack>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RackNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisteredDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RackNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisteredDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RackId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RackId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RackId })
        </td>
    </tr>
}

</table>
