@model RequestIndexViewModel
@{
    ViewBag.Title = Pages.RequestIndex;
    ViewBag.PageTitle = Pages.RequestIndex;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Request", "Index", Pages.Request)
    };
}
<!-- Main content -->
<section class="main-content">
    <div class="row">
        <div class="col-xs-4">
            Request Type:
        </div>
        <div class="col-xs-8">
            @Html.DropDownListFor(m => m.FilterByRequestType, Model.FilterByRequestType, "Select All", new { @id = "selectedType" })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            Request Status:
        </div>
        <div class="col-xs-8">
            @Html.DropDownListFor(m => m.FilterByStatus, Model.FilterByStatus, "Select All", new { @id = "selectedStatus" })
        </div>
    </div>
    @*<div class="row">
        <div class="col-xs-4">
            Time of Request:
        </div>
        <div class="col-xs-8">
            @Html.DropDownListFor(m => m.FilterByPeriodOfTime, Model.FilterByPeriodOfTime, "Today", new { @id = "selectedTime" })
        </div>
    </div>*@
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.Raw("Request Code")
                </th>
                <th>
                    @Html.Raw("Request Type")
                </th>
                <th>
                    @Html.Raw("Requested Time")
                </th>
                <th>
                    @Html.Raw("Status")
                </th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.Requests.Count; i++)
        {
            <tbody class="clickmee check" status-code="@Model.Requests[i].LastestStatusRequest.StatusCode" type-code="@Model.Requests[i].LastestStatusRequest.RequestTypeCode">
                <tr>
                    <td>
                        @Html.ActionLink(Model.Requests[i].LastestStatusRequest.RequestCode, "Detais", "RequestDetail",
                        new { rType = Model.Requests[i].LastestStatusRequest.RequestTypeCode, rCode = Model.Requests[i].LastestStatusRequest.RequestCode }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Requests[i].LastestStatusRequest.RequestTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Requests[i].LastestStatusRequest.LogTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Requests[i].LastestStatusRequest.StatusName)
                    </td>
                </tr>
            </tbody>
            <tbody class="showhide" style="display: none; background-color: lightgrey;">
                @if (Model.Requests[i].OldStatusRequests != null)
                {
                    foreach (var old in Model.Requests[i].OldStatusRequests)
                    {
                        <tr style="background-color: lightgrey;">
                            <td>
                                @Html.DisplayFor(modelItem => old.RequestCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => old.RequestTypeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => old.LogTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => old.StatusName)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        }
        <tfoot>
            <tr>
                <th>
                    @Html.Raw("RequestCode")
                </th>
                <th>
                    @Html.Raw("RequestType")
                </th>
                <th>
                    @Html.Raw("RequestedTime")
                </th>
                <th>
                    @Html.Raw("Status")
                </th>
            </tr>
        </tfoot>
    </table>
</section><!-- /.content -->

<script type="text/javascript">
    $(document).ready(function () {
        $(".clickmee").click(function () {
            $(this).closest('tbody')
        .next('.showhide')
        .toggle('fast');
        });
    });
    $("#example1").dataTable({
        "iDisplayLength": -1,
        "aaSorting": [[2, "desc"]] // Sort by first column descending
    });
    $("#selectedType").change(function () {
        var typeCode = $("#selectedType").val();
        if (typeCode == null || typeCode == '') {
            $('#example1 tbody tr').show();
        } else {
            $('#example1 tbody tr').hide();
            $('#example1 tbody tr[type-code="' + typeCode + '"]').show();
        }
    });
    $("#selectedStatus").change(function () {
        var statusCode = $("#selectedStatus").val();
        if (statusCode == null || statusCode == '') {
            $('#example1 tbody tr').show();
        } else {
            $('#example1 tbody tr').hide();
            $('#example1 tbody tr[status-code="' + statusCode + '"]').show();
        }
    });
</script>