<!DOCTYPE html>
<html>
<head>
    
<meta charset="UTF-8">
<title>@ViewBag.Title</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

@Scripts.Render(Constants.ScriptBundle.MODERNIZR)
@Scripts.Render(Constants.ScriptBundle.MOMENT)
@Scripts.Render(Constants.ScriptBundle.RESPOND)
@Scripts.Render(Constants.ScriptBundle.JQUERY)
@Scripts.Render(Constants.ScriptBundle.BOOTSTRAP)
@Scripts.Render(Constants.ScriptBundle.BOOTSTRAP_DATETIMEPICKER)
@Scripts.Render(Constants.ScriptBundle.DATATABLE)
@Scripts.Render(Constants.ScriptBundle.ADMINLTE)

@Styles.Render(Constants.StyleBundle.BOOTSTRAP)
@Styles.Render(Constants.StyleBundle.BOOTSTRAP_DATETIMEPICKER)
@Styles.Render(Constants.StyleBundle.DATATABLE)
@Styles.Render(Constants.StyleBundle.ADMINLTE)

</head>
<body class="skin-blue">
    <!-- header logo: style can be found in header.less -->
    <header class="header">
        <a href="@Url.Action("Index2", "Schedule")" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            <img src="@Url.Content("~/img/logoIMS.png")" alt="logo image" class="offline" width="75px" />
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    
                    @if (ViewBag.Role=="Shift Head")
                    {
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-warning"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-people info"></i> Request add server
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning danger"></i> Request change IP
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users warning"></i> Request Return IP
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-cart success"></i> Request upgrade server
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-person danger"></i> Request assign IP
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                    <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-tasks"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 5 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Request add server
                                                    <small class="pull-right">Pending</small>
                                                </h3>
                                            </a>
                                        </li><!-- end task item -->
                                        <li style="color: #d9534f">
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3 style="color: #d9534f">
                                                    Request Assign IP Address
                                                    <small class="pull-right">Waiting</small>
                                                </h3>
                                            </a>
                                        </li><!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Request upgrade server
                                                    <small class="pull-right">Pending</small>
                                                </h3>
                                            </a>
                                        </li><!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3 style="color: #d9534f">
                                                    Request Return IP Address
                                                    <small class="pull-right">Waiting</small>
                                                </h3>
                                            </a>
                                        </li><!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                    }
                    else if (ViewBag.Role=="Customer")
                    {
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-warning"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-people info"></i> Request add server
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning danger"></i> Request change IP
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users warning"></i> Request Return IP
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-cart success"></i> Request upgrade server
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-person danger"></i> Request assign IP
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                    }

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>Thu Ha<i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header bg-light-blue">
                                <img src="@Url.Content("~/img/avatar3.png")" class="img-circle" alt="User Image" />
                                <p>
                                    Thu Ha - Shift Head
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Url.Content("~/img/avatar3.png")" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>Hello, Ha</p>

                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                @{ Html.RenderAction("Sidebar", "Home", new { role = ViewBag.Role }); }
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div>@TempData["Message"]</div>
                </div>
            }
            @RenderBody()
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->
</body>
</html>
