<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>@ViewBag.Title - IMS DataCenter</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    @Scripts.Render(Constants.ScriptBundle.MODERNIZR)
    @Scripts.Render(Constants.ScriptBundle.MOMENT)
    @Scripts.Render(Constants.ScriptBundle.RESPOND)
    @Scripts.Render(Constants.ScriptBundle.JQUERY)
    @Scripts.Render(Constants.ScriptBundle.JQUERY)
    @Scripts.Render(Constants.ScriptBundle.JQUERY_VALIDATE)
    @Scripts.Render(Constants.ScriptBundle.BOOTSTRAP)
    @Scripts.Render(Constants.ScriptBundle.BOOTSTRAP_DATETIMEPICKER)
    @Scripts.Render(Constants.ScriptBundle.DATATABLE)
    @Scripts.Render(Constants.ScriptBundle.ADMINLTE)
    @RenderSection("Scripts", false)
    @Styles.Render(Constants.StyleBundle.BOOTSTRAP)
    @Styles.Render(Constants.StyleBundle.BOOTSTRAP_DATETIMEPICKER)
    @Styles.Render(Constants.StyleBundle.DATATABLE)
    @Styles.Render(Constants.StyleBundle.ADMINLTE)
    @RenderSection("Styles", false)

</head>
<body class="skin-blue">
<!-- header logo: style can be found in header.less -->
<header class="header">
    @{ Html.RenderAction("Header", "Home", new { role = ViewBag.Role }); }
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">            
            @{ Html.RenderAction("Sidebar", "Home", new {role = ViewBag.Role}); }
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        @{ var breadcrumbItems = ViewBag.Breadcrumbs as List<BreadcrumbModel>; }
        @if (breadcrumbItems != null && breadcrumbItems.Count > 0)
        {
            <ol class="breadcrumb">
                @for (var i = 0; i < breadcrumbItems.Count; i++)
                {
                    var item = breadcrumbItems[i];
                    if (i == breadcrumbItems.Count - 1)
                    {
                        <li>@Html.ActionLink(item.Title, item.Action, item.Controller)</li>
                    }
                    else
                    {
                        <li class="active">@item.Title</li>
                    }
                }
            </ol>
        }

        @if (ViewBag.PageTitle != null)
        {
            <h2>@ViewBag.PageTitle</h2>
        }

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div>@TempData["Message"]</div>
            </div>
        }
        @RenderBody()
</aside><!-- /.right-side -->
</div><!-- ./wrapper -->

</body>
</html>


