@using IMS.Data.Models
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>@ViewBag.Title - IMS DataCenter</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <script>
        var CONSTANT = {
            authority: window.location.protocol + "//" + window.location.host
        }
    </script>

    @Scripts.Render(Constants.ScriptBundle.MODERNIZR)
    @Scripts.Render(Constants.ScriptBundle.MOMENT)
    @Scripts.Render(Constants.ScriptBundle.RESPOND)
    @Scripts.Render(Constants.ScriptBundle.JQUERY)
    @Scripts.Render(Constants.ScriptBundle.JQUERY_UI)
    @Scripts.Render(Constants.ScriptBundle.JQUERY_VALIDATE)
    @Scripts.Render(Constants.ScriptBundle.BOOTSTRAP)
    @Scripts.Render(Constants.ScriptBundle.BOOTSTRAP_DATETIMEPICKER)
    @Scripts.Render(Constants.ScriptBundle.DATATABLE)
    @Scripts.Render(Constants.ScriptBundle.ADMINLTE)
    @Scripts.Render(Constants.ScriptBundle.APPLICATION)
    @RenderSection("Scripts", false)
    @Styles.Render(Constants.StyleBundle.BOOTSTRAP)
    @Styles.Render(Constants.StyleBundle.BOOTSTRAP_DATETIMEPICKER)
    @Styles.Render(Constants.StyleBundle.JQUERY_UI)
    @Styles.Render(Constants.StyleBundle.DATATABLE)
    @Styles.Render(Constants.StyleBundle.ADMINLTE)
    @Styles.Render(Constants.StyleBundle.APPLICATION)
    @RenderSection("Styles", false)

</head>
<body class="skin-blue">
    <!-- header logo: style can be found in header.less -->
    <header class="header">
        @{ Html.RenderAction("Header", "Home", new { role = ViewBag.Role }); }
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                @{ Html.RenderAction("Sidebar", "Home", new { role = ViewBag.Role }); }
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <section class="content-header">
                @if (ViewBag.PageTitle != null)
            {
                    <div class="h1">@ViewBag.PageTitle</div>
                }
                @{ var breadcrumbItems = ViewBag.Breadcrumbs as List<BreadcrumbModel>; }
                @if (breadcrumbItems != null && breadcrumbItems.Count > 0)
            {
                    <ol class="breadcrumb">
                        @for (var i = 0; i < breadcrumbItems.Count; i++)
                        {
                            var item = breadcrumbItems[i];
                            if (i == breadcrumbItems.Count - 1 && i == 0)
                            {
                                <li class="active"><i class="fa fa-dashboard"></i> @item.Title</li>
                            }
                            else if (i == breadcrumbItems.Count - 1)
                            {
                                <li class="active">@item.Title</li>
                            }
                            else if (i == 0)
                            {
                                <li><i class="fa fa-dashboard"></i> @Html.ActionLink(item.Title, item.Action, item.Controller, item.RouteValue, null)</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink(item.Title, item.Action, item.Controller, item.RouteValue, null)</li>
                            }
                        }
                    </ol>
                }
            </section>

            @if (TempData["AlertType"] != null)
            {
                <div class="main-content">
                    <div class="alert alert-@TempData["AlertType"] alert-dismissible" role="alert">
                        @if (TempData["AlertDismiss"] != null && (bool)TempData["AlertDismiss"])
                        {
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        }
                        <div>@TempData["AlertLine1"]</div>
                        <div>@TempData["AlertLine2"]</div>
                    </div>
                </div>
            }

            @RenderBody()
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

</body>
</html>
