@model RackOfCustomerIndexViewModel
@{
    ViewBag.Title = Pages.RackIndex;
    ViewBag.PageTitle = Pages.RackIndex;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Location", "Index2", Pages.RackIndex)
    };
}


<section class="main-content">
    <div class="row hide">
        <div id="dropdown-template" class="col-xs-3">
            <label>Location: @Html.DropDownListFor(model => model.RackCode, Model.RackSelectList, "All Racks", new { @class = "form-control input-sm", style = "width: 150px" }) </label>
        </div>
    </div>

    <table id="example1" class="table table-bordered">
        <thead>
            <tr class="@Constants.HtmlFormat.DATATABLE_HEADER_CLASS">
                <th>Rack Code</th>
                <th>Rack Name</th>
                <th>Rack Unit</th>
                <th>Rack Status</th>
                <th>IP Address</th>
            </tr>
        </thead>
        <tfoot>
            <tr class="@Constants.HtmlFormat.DATATABLE_HEADER_CLASS">
                <th>Rack Code</th>
                <th>Rack Name</th>
                <th>Rack Unit</th>
                <th>Rack Status</th>
                <th>IP Address</th>
            </tr>
        </tfoot>
    </table>


</section><!-- /.content -->

<script>
    function mouseenter(e) {
        var rows = $('#example1 tbody tr');
        var row = $(this);
        var isValid = true;
        var index = rows.index(row);
        var ip = row.attr("ip");
        if (typeof ip != 'undefined' && ip != '') {
            rows.each(function (i, e) {
                var rowIp = $(e).attr("ip");
                if (typeof rowIp != 'undefined') {
                    if (rowIp == ip) {
                        $(e).css('background-color', '#adadad');
                    }
                }
            });
        }
    }

    function mouseleave(e) {
        $('#example1 tbody tr').css('background-color', '');
    }
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var rackCode = $('#RackCode').val();
            if (rackCode == '') {
                return true;
            }
            if (rackCode == data[0]) {
                return true;
            }
            return false;
        }
    );
</script>

<script type="text/javascript">
    var table = $('#example1').DataTable({
        dom: '<lf<t>ip>',
        processing: true,
        ajax: "@Url.Action("GetRackOfCustomer", "Rack", new { httproute = "", customer = Model.CustomerCode })",
        columns: [
            { data: "RackCode" },
            { data: "RackName" },
            { data: "RackUnit" },
            { data: "RackStatus" },
            { data: "DefaultIP" }
            
        ],
        iDisplayLength: 42,
        aLengthMenu: [[42, 84, 126], [42, 84, 126]],
        fnRowCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            var row = $(nRow);
            row.hover(mouseenter, mouseleave);
            if (aData.ServerCode != null) {
                $(nRow).addClass('clickable');
                $(nRow).addClass('highlight');
                $(nRow).addClass('background-info');
                $(nRow).attr("title", "Server Status: " + aData.ServerStatus + "; Power: " + aData.Power + "; Bandwidth: " + aData.Bandwidth);
                $(nRow).tooltipster({
                    content: "Server Status: " + aData.ServerStatus + "<br /> Power: " + aData.Power + "<br /> Bandwidth: " + aData.Bandwidth + "<br /> Size: "+aData.Size+"U",
                    contentAsHTML: true,
                    theme: 'tooltipster-light',
                    positionTracker: true
                });
            }
            $(nRow).attr("ip", aData.DefaultIP);
            $(nRow).click(function() {
                if (aData.ServerCode != null) {
                    var url = CONSTANT.authority + '@Url.Action("Detail", "Server")' + '/' + aData.ServerCode;
                    window.location.assign(url);
                }
            });

        },
        order: [[1, "asc"] ,[ 2, "desc" ]],
        columnDefs: [
            {
                targets: [0],
                visible: false,
                searchable: true
            },
            {
                targets: [3],
                visible: false,
                searchable: true
            }
        ]
    });

    $("#example1_filter").append($('#dropdown-template').html());
    $('#dropdown-template').html('');

    $('#RackCode').change(function() {
        table.draw();
    });

</script>

@section Styles {
    <style>
    </style>
}