@model ChangePasswordViewModel
@{
    ViewBag.Title = Pages.ChangePassword;
    ViewBag.PageTitle = Pages.ChangePassword;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Account", "GetChangePW", Pages.ChangePassword)
    };
}
@using (Html.BeginForm("PostChangePW", "Account", FormMethod.Post))
{
    <section class="main-content">
        
        <div class="@Constants.HtmlFormat.FORM_FOR_PAGE">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", style = "width:300px" } })<label style="color: red">*</label>
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="@Constants.HtmlFormat.FORM_FOR_PAGE">
            @Html.LabelFor(model => model.NewPassword)
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", style = "width:300px" } })<label style="color: red">*</label>
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <div class="@Constants.HtmlFormat.FORM_FOR_PAGE">
            @Html.LabelFor(model => model.ConfirmPassword)
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", style = "width:300px" } })<label style="color: red">*</label>
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div class="@Constants.HtmlFormat.FORM_FOR_PAGE">
            
            <input type="submit" value="Change" class="btn btn-primary pull-left"/>
            @Html.ActionLink("Cancel", "ViewProfile", "Account", new { username = Model.UserLogin }, htmlAttributes: new { @class = "btn btn-default pull-left" })
        </div>
     
    </section>
}
