@model IMS.Data.Models.Account
@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change Password</h2>
@using (Html.BeginForm("PostChangePW", "Account", FormMethod.Post))
{
    <div class="form-horizontal">
        
        @if (@ViewBag.confirm != null)
        {
            <h5>@ViewBag.confirm</h5>
        }
        @if (@ViewBag.password != null)
        {
            <h5>@ViewBag.password</h5>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-2">
                <label for="Old Password">Old Password:</label>
            </div>
            <div class="col-md-10">
                <input type="password" name="oldpassword" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label for="New Password">New Password:</label>
            </div>
            <div class="col-md-10">
                <input type="password" name="newpassword" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label for="Confirm">Confirm New Password:</label>
            </div>
            <div class="col-md-10">
                <input type="password" name="confirmpassword" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
