@model ChangePasswordViewModel
@{
    ViewBag.Title = Pages.ChangePassword;
    ViewBag.PageTitle = Pages.ChangePassword;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Account", "GetChangePW", Pages.ChangePassword)
    };
}

@using (Html.BeginForm("PostChangePW", "Account", FormMethod.Post))
{
    <section class="main-content">
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="@Constants.HtmlFormat.FORM_TEXTBOX_CLASS">
                @Html.TextBoxFor(model => model.Password, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS, style = "width:300px", type="password" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div>
                <label style="color: red">(*)</label>
            </div>
        </div>
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                @Html.LabelFor(model => model.NewPassword,"New Password")
            </div>
            <div class="@Constants.HtmlFormat.FORM_TEXTBOX_CLASS">
                @Html.TextBoxFor(model => model.NewPassword, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS, style = "width:300px", type = "password" })
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
            <div>
                <label style="color: red">(*)</label>
            </div>
        </div>
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="@Constants.HtmlFormat.FORM_TEXTBOX_CLASS">
                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS, style = "width:300px", type = "password" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
            <div>
                <label style="color: red">(*)</label>
            </div>
        </div>

        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_TEXTBOX_CLASS col-xs-offset-2">
                <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-plus"></i> Change</button>
                @Html.ActionLink("Cancel", "ViewProfile", "Account", new { username = Model.UserLogin }, htmlAttributes: new { @class = "btn btn-default pull-left" })
            </div>
        </div>

     
    </section>
}
