@using System.Web.UI.WebControls
@using IMS.Data.Business
@using IMS.Data.Models
@model IMS.Models.CreateCustomerViewModel
@{
    ViewBag.Title = Pages.CreateCustomer;
    ViewBag.PageTitle = Pages.CreateCustomer;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Account", "CreateCustomer", Pages.CreateCustomer)
    };
}

<section class="main-content">
  
    @using (Html.BeginForm("CreateCustomer", "Account", FormMethod.Post))
    {
        <div class="@Constants.HtmlFormat.FORM_FOR_PAGE">
            @Html.LabelFor(model => model.Username)
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", style = "width:600px" } })<label style="color: red">*</label>
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <div class="@Constants.HtmlFormat.FORM_FOR_PAGE">
            @Html.LabelFor(model => model.Fullname)
            @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control", style = "width:600px" } })<label style="color: red">*</label>
            @Html.ValidationMessageFor(model => model.Fullname)
        </div>
        <div class="@Constants.HtmlFormat.FORM_FOR_PAGE">
            @Html.LabelFor(model => model.Company)
            @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control", style = "width:600px" } })
            @Html.ValidationMessageFor(model => model.Company)
        </div>
        <div class="@Constants.HtmlFormat.FORM_FOR_PAGE">
            @Html.LabelFor(model => model.Phone)
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", style = "width:600px" } })<label style="color: red">*</label>
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        <div class="@Constants.HtmlFormat.FORM_FOR_PAGE">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", style = "width:600px" } })<label style="color: red">*</label>
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="@Constants.HtmlFormat.FORM_FOR_PAGE">
            @Html.LabelFor(model => model.Address)
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", style = "width:600px" } })<label style="color: red">*</label>
            @Html.ValidationMessageFor(model => model.Address)
        </div>
        <div class="@Constants.HtmlFormat.FORM_FOR_PAGE">
            @Html.LabelFor(model => model.Identification)
            @Html.EditorFor(model => model.Identification, new { htmlAttributes = new { @class = "form-control", style = "width:600px" } })<label style="color: red">*</label>
            @Html.ValidationMessageFor(model => model.Identification)
        </div>
        <div class="@Constants.HtmlFormat.FORM_FOR_PAGE">

            <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-plus"></i> Add</button>
            @Html.ActionLink("Cancel", "Index", "Account", htmlAttributes: new { @class = "btn btn-default pull-left" })
        </div>
    }
</section>