@using IMS.Data.Business
@model AccountIndexViewModel


@{
    if (User.IsInRole("Manager")) {
        ViewBag.Title = Pages.AccountIndex;
        ViewBag.PageTitle = Pages.AccountIndex;
    }
    if (User.IsInRole("Shift Head") || User.IsInRole("Staff"))
    {
        ViewBag.Title = Pages.Customer;
        ViewBag.PageTitle = Pages.Customer;
    }
    ViewBag.Role = "Shift Head";
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Account", "Index", Pages.AccountIndex)
    };
}

<section class="main-content">
    @if (User.IsInRole("Manager"))
    {
        if (Model.Count < 12)
        {
            @Html.ActionLink("Add new staff", "CreateStaff", "Account", htmlAttributes: new { @class = "btn btn-primary" })
        }
        @Html.ActionLink("Add new customer", "CreateCustomer", "Account", htmlAttributes: new { @class = "btn btn-primary" })
        <div class="row hide">
            <div id="dropdown-template" class="col-xs-3">
                <label>Filter: @Html.DropDownListFor(model => model.RoleSearch, Model.Roles, "All Roles", new { @class = "form-control input-sm", style = "width: 150px" }) </label>
            </div>
        </div>

    }

    <table id="example1" class="table table-bordered table-hover">
        
            <thead>
                <tr style="background-color: #404040">
                    <th><span style="color: ghostwhite">Username</span>
                    <th><span style="color: ghostwhite">Fullname</span>
                    <th><span style="color: ghostwhite">Role</span>
                    <th><span style="color: ghostwhite">Phone</span>
                    <th><span style="color: ghostwhite">Email</span>
                    <th><span style="color: ghostwhite">Address</span>
                    <th><span style="color: ghostwhite">Group</span>

                </tr>
            </thead>
            <tfoot>
                <tr style="background-color: #404040">
                    <th><span style="color: ghostwhite">Username</span>
                    <th><span style="color: ghostwhite">Fullname</span>
                    <th><span style="color: ghostwhite">Role</span>
                    <th><span style="color: ghostwhite">Phone</span>
                    <th><span style="color: ghostwhite">Email</span>
                    <th><span style="color: ghostwhite">Address</span>
                    <th><span style="color: ghostwhite">Group</span>
                </tr>
            </tfoot>
        


    </table>
       
</section>


<script>
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var role = $('#RoleSearch').val();
            if (role == '') {
                return true;
            }
            if (role == data[2]) {
                return true;
            }
            
            if (role == null) {
                return true;
            }
            return false;
        }
    );
</script>

<script type="text/javascript">
    var table = $('#example1').DataTable({
        dom: '<lf<t>ip>',
        processing: true,
        ajax: "@Url.Action("GetAll", "Account", new {httproute = "", role = Model.RoleLogin })",
        columns: [
            { data: "Username" },
            { data: "Fullname" },
            { data: "Role" },
            { data: "Phone" },
            { data: "Email" },
            { data: "Address" },
            { data: "GroupCode" },
            { data: "Status" }
        ],
        iDisplayLength: 10,
        aLengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]],

        fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            $(nRow).click(function() {
                if (aData.Fullname != null) {
                    var url = CONSTANT.authority + '@Url.Action("ViewProfile", "Account")' + '?username=' + aData.Username;
                    window.location.assign(url);
                }
            });
            var row = $(nRow);
            //var actionCell = $(nRow.cells[4]);
            switch (aData.Status) {
            case false:
                row.css('background-color', '#ffe6e6');

                break;

            }
        },

        columnDefs: [
        {
            targets: [0],
            visible: false,
            searchable: true
        },
        {
            targets: [2],
            visible: false,
            searchable: true
        }, {
            targets: [6],
            visible: @{if(Model.RoleLogin == "Manager") { <text>true</text> } else { <text>false</text> }},
            searchable: true
        }, {
            targets: [7],
            visible: false,
            searchable:true
        }]
    });

    $('#example1_filter').append($('#dropdown-template').html());
    $('#dropdown-template').html('');

    $('#RoleSearch').change(function () {
        table.draw();
    });


</script>

@section Styles {
    <style>
    </style>
}


