@model AccountIndexViewModel
@{
    ViewBag.Title = "AccountPage";
    ViewBag.Role = "Shift Head";
}

<section class="content-header">
    <h1>
        List of Account
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index2", "Schedule")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Account</li>
    </ol>
</section>
<section class="content">   
    <a class="btn btn-primary" data-toggle="modal" data-target="#addstaff-modal"><i class="fa fa-plus"></i> Add new staff</a>
    <a class="btn btn-primary" data-toggle="modal" data-target="#addcustomer-modal"><i class="fa fa-plus"></i> Add new customer</a>
</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Group</th>
                        <th>Status</th>
                        <th>Full Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Identification</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                   @foreach (var item in Model.ListAccount)
                    {
                        <tr>
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GroupCode)
                            </td>
                            <td>
                                @if (item.Status == true)
                                {
                                    @Html.Raw("Activate")
                                }
                                else
                                {
                                    @Html.Raw("Deactivate")
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fullname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Identification)
                            </td>
                            <td>
                                @if (User.IsInRole("Manager"))
                                {
                                    var action = item.Role == "Customer" ? "EditCustomer" : "EditStaff";
                                    @Html.ActionLink("Edit", action, new { id = item.Id })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Group</th>
                        <th>Status</th>
                        <th>Full Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Identification</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>

<!-- EDIT CUSTOMER MODAL -->
<div class="modal fade" id="editcustomer-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 500px;height: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-edit"></i> Edit account of Customer</h4>
            </div>
            <form action="#" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" value="haltt" disabled="true">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Status</label>
                        <select>
                            <option>Activate</option>
                            <option>Deactivate</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Fullname</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" value="Lê Thị Thu Hà">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Phone</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" value="091234567">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input type="text" checked="true" class="form-control" id="" value="haltt@gmail.com" >
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Address</label>
                        <input type="text" checked="true" class="form-control" id="exampleInputPassword1" value="19 Quang Trung" >
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Identification</label>
                        <input type="text" checked="true" class="form-control" id="exampleInputPassword1" value="1234567890" >
                    </div>
                </div>
                <div class="modal-footer clearfix">

                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>

                    <button type="submit" class="btn btn-primary pull-left"> Change</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- EDIT STAFF MODAL -->
<div class="modal fade" id="editstaff-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 500px;height: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-edit"></i> Edit account of Staff</h4>
            </div>
            <form action="#" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" value="haltt" disabled="true">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Role</label>
                        <select>
                            <option>Shift Head</option>
                            <option>Staff</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Status</label>
                        <select>
                            <option>Activate</option>
                            <option>Deactivate</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Group</label>
                        <select> 
                            <option>Group 1</option>
                            <option>Group 2</option>
                            <option>Group 3</option>
                            <option>Group 4</option>
                            <option>No Group</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Fullname</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" value="Lê Thị Thu Hà">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Phone</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" value="091234567">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input type="text" checked="true" class="form-control" id="" value="haltt@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Address</label>
                        <input type="text" checked="true" class="form-control" id="exampleInputPassword1" value="19 Quang Trung">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Identification</label>
                        <input type="text" checked="true" class="form-control" id="exampleInputPassword1" value="1234567890">
                    </div>
                </div>
                <div class="modal-footer clearfix">

                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>

                    <button type="submit" class="btn btn-primary pull-left"> Change</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ADD STAFF MODAL -->
<div class="modal fade" id="addstaff-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-plus"></i> Add new staff</h4>
            </div>
            <form action="#" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Username" style="width: 300px">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Role</label>
                        <select class="form-control" style="width: 150px">
                            <option>Shift Head</option>
                            <option>Staff</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Group</label>
                        <select class="form-control" style="width: 150px">
                            <option>Group 1</option>
                            <option>Group 2</option>
                            <option>Group 3</option>
                            <option>Group 4</option>                          
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Full Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Full Name">
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Address">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Phone</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Phone" style="width: 300px">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Identification</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Identification" style="width: 300px">

                    </div>
                </div>
                <div class="modal-footer clearfix">

                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>

                    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-plus"></i> Add</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ADD CUSTOMER MODAL -->
<div class="modal fade" id="addcustomer-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-plus"></i> Add new customer</h4>
            </div>
            <form action="#" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Username" style="width: 300px">
                    </div>
                  
                    <div class="form-group">
                        <label for="exampleInputEmail1">Full Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Full Name">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Address">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Phone</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Phone" style="width: 300px">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Identification</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Identification" style="width: 300px">

                    </div>
                </div>
                <div class="modal-footer clearfix">

                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>

                    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-plus"></i> Add</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- page script -->
<script type="text/javascript">
    $(function () {
        $("#example1").dataTable();
        
    });
</script>

