@model IMS.Data.Models.Account

@{
    ViewBag.Title = "Login";
}

<body class="bg-black">
    <div class="form-box" id="login-box">
        <div class="header">Log In</div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <div class="body bg-gray">
                <div class="form-group">
                    @*<input type="text" name="userid" class="form-control" placeholder="User ID"/>*@
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Username" })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="footer">
                <button type="submit" class="btn bg-olive btn-block">Login</button>
                <p class="text-center">
                    @Html.ActionLink("Forgot Password", "GetForgotPassword", "Account")
                </p>
            </div>
        }
    </div>
</body>
