<!DOCTYPE html>
<html class="bg-black">
@model AccountLoginViewModel
@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <title>IMS | Log in</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    @Scripts.Render(Constants.ScriptBundle.JQUERY)
    @Scripts.Render(Constants.ScriptBundle.JQUERY_UI)
    @Scripts.Render(Constants.ScriptBundle.JQUERY_VALIDATE)
    @Scripts.Render(Constants.ScriptBundle.BOOTSTRAP)
    @Scripts.Render(Constants.ScriptBundle.ALERTIFY)
    @Scripts.Render(Constants.ScriptBundle.ADMINLTE)
    @Scripts.Render(Constants.ScriptBundle.APPLICATION)
    @Styles.Render(Constants.StyleBundle.BOOTSTRAP)
    @Styles.Render(Constants.StyleBundle.JQUERY_UI)
    @Styles.Render(Constants.StyleBundle.JQUERY_VALIDATE)
    @Styles.Render(Constants.StyleBundle.ADMINLTE)
    @Styles.Render(Constants.StyleBundle.APPLICATION)
</head>
<body class="bg-black">
    <div class="form-box" id="login-box">
        <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS hidden">
            @Html.HiddenFor(model => model.SuccessMessage)
        </div>
        <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS hidden">
            @Html.HiddenFor(model => model.FailMessage)
        </div>
        <div class="header">Sign In</div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <div class="body bg-gray">
                <div class="form-group">
                    @Html.TextBoxFor(model => model.UserName, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS, placeholder ="Username"})
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model => model.Password, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS, placeholder = "Password"})
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="footer">
                <button type="submit" class="btn bg-olive btn-block">Login</button>
                <p class="text-center">
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <a data-toggle="modal" href="#forgotpassword-modal">@Labels.ForgotPassword</a>
                </p>
            </div>
        }
    </div>
</body>
</html>
<div id="forgotpassword-modal" class="@Constants.HtmlFormat.MODAL_CLASS" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("PostForgotPassword", "Account", FormMethod.Post))
            {
                <div class="modal-header">
                    <div class="@Constants.HtmlFormat.MODAL_HEADER_CLASS"><i class="fa fa-refresh"></i> @Labels.ForgotPassword</div>
                </div>
                <div class="modal-body">
                    <div class="@Constants.HtmlFormat.MODAL_ROW_CLASS">
                        <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                            @Html.LabelFor(model => model.Email, new { @class = "required" })
                        </div>
                        <div class="@Constants.HtmlFormat.MODAL_CONTROL_CLASS">
                            @Html.TextBoxFor(model => model.Email, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="@Constants.FormAction.ACTION_NAME" value="Add" class="@Constants.HtmlFormat.PRIMARY_BUTTON_CLASS">
                        @Labels.Reset
                    </button>
                    <button type="button" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.CANCEL_ACTION" class="@Constants.HtmlFormat.DEFAULT_BUTTON_CLASS"
                            data-dismiss="modal">
                        @Labels.DialogCancel
                    </button>

                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    var message = $('#SuccessMessage').val();
    if (message) {
        notif({
            msg: "<b>Success! </b>" + message,
            type: "info",
            position: "center"
        });
        $('#SuccessMessage').val("");
    };
    var message = $('#FailMessage').val();
    if (message) {
        notif({
            msg: "<b>Fail! </b>" + message,
            type: "error",
            position: "center"
        });
        $('#FailMessage').val("");
    }
</script>