@model AccountCreateViewModel
@{
    ViewBag.Title = Pages.ViewProfile;
    ViewBag.PageTitle = Pages.ViewProfile;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Account", "ViewProfile", Pages.ViewProfile)
    };
}


<form action="#" method="POST">
    <section class="main-content">
        <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS hidden">
            @Html.HiddenFor(model => model.SuccessMessage)
        </div>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Username)
        @Html.HiddenFor(model => model.Password)
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                @Html.LabelFor(model => model.Username)
            </div>
            <div class="@Constants.HtmlFormat.FORM_DETAIL_CLASS">
                @Html.DisplayFor(model => model.Username, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>
        @if (Model.Company != null)
        {
            <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
                <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                    @Html.LabelFor(model => model.Company)
                </div>
                <div class="@Constants.HtmlFormat.FORM_DETAIL_CLASS">
                    @Html.DisplayFor(model => model.Company, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                </div>
            </div>
            <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
                <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                    @Html.Label("Representative")
                </div>
                <div class="@Constants.HtmlFormat.FORM_DETAIL_CLASS">
                    @Html.DisplayFor(model => model.Fullname, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                </div>
            </div>
        }
        else
        {
            <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
                <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                    @Html.Label("Full name")
                </div>
                <div class="@Constants.HtmlFormat.FORM_DETAIL_CLASS">
                    @Html.DisplayFor(model => model.Fullname, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                </div>
            </div>
        }
        @if (Model.Role != Constants.Role.CUSTOMER)
        {
            <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
                <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                    @Html.LabelFor(model => model.Role)
                </div>
                <div class="@Constants.HtmlFormat.FORM_DETAIL_CLASS">
                    @Html.DisplayFor(model => model.Role, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                </div>
            </div>
            if (Model.Role != Constants.Role.MANAGER)
            {
                <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
                    <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                        @Html.LabelFor(model => model.GroupCode)
                    </div>
                    <div class="@Constants.HtmlFormat.FORM_DETAIL_CLASS">
                        @Html.DisplayFor(model => model.GroupCode, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                    </div>
                </div>
            }
        }
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                @Html.LabelFor(model => model.Status)
            </div>
            <div class="@Constants.HtmlFormat.FORM_DETAIL_CLASS">
                @if (Model.Status)
                {
                    @Html.Raw("Activate")
                }
                else
                {
                    @Html.Raw("Deactivate")
                }
            </div>
        </div>
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                @Html.LabelFor(model => model.Phone)
            </div>
            <div class="@Constants.HtmlFormat.FORM_DETAIL_CLASS">
                @Html.DisplayFor(model => model.Phone, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
            </div>
        </div>
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="@Constants.HtmlFormat.FORM_DETAIL_CLASS">
                @Html.DisplayFor(model => model.Email, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
            </div>
        </div>
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="@Constants.HtmlFormat.FORM_DETAIL_CLASS">
                @Html.DisplayFor(model => model.Address, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
            </div>
        </div>
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                @Html.LabelFor(model => model.Identification)
            </div>
            <div class="@Constants.HtmlFormat.FORM_DETAIL_CLASS">
                @Html.DisplayFor(model => model.Identification, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
            </div>
        </div>
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            @if ((Model.Role == "Customer" && Model.RoleLogin == "Manager") || Model.Username == Model.UserLogin)
            {
                <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">

                    <a href="@Url.Action("EditAccount", "Account", new {username = Model.Username})" class="btn btn-primary"><i class="fa fa-edit"></i> Edit Profile</a>

                </div>
            }
            else if ((Model.Role == "Staff" || Model.Role == "Shift Head") && Model.RoleLogin == "Manager")
            {
                <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                    <a href="@Url.Action("EditStaff", "Account", new {username = Model.Username})" class="btn btn-primary"><i class="fa fa-edit"></i> Edit Profile</a>
                </div>
            }
            @if (Model.Username == Model.UserLogin)
            {
                <div class="@Constants.HtmlFormat.FORM_DETAIL_CLASS">
                    <a href="@Url.Action("GetChangePW", "Account", new {username = Model.Username})" class="btn btn-primary"><i class="fa fa-edit"></i> Change Password</a>
                </div>
            }
            @if (Model.Username != Model.UserLogin && Model.RoleLogin == "Manager")
            {

                if (Model.Status)
                {
                    <div class="@Constants.HtmlFormat.FORM_DETAIL_CLASS">
                        <a class="btn btn-danger" data-toggle="modal" data-target="#deactivate-modal"><i class="fa fa-pencil"></i> Deactivate Account</a>
                    </div>
                }
                else
                {
                    <div class="@Constants.HtmlFormat.FORM_DETAIL_CLASS">
                        <a class="btn btn-warning" data-toggle="modal" data-target="#activate-modal"><i class="fa fa-pencil"></i> Activate Account</a>
                    </div>
                }

            }
                    </div>
</section>

    <div id="deactivate-modal" class="@Constants.HtmlFormat.MODAL_CLASS" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 350px">
            <div class="modal-content">


                <div class="modal-body">
                    <h4>Are you sure to deativate this account?</h4>
                    @Html.HiddenFor(model => model.Username)
                </div>
                <div class="modal-footer">
                    <button type="submit" name="Button" value="Deactivate" class="@Constants.HtmlFormat.PRIMARY_BUTTON_CLASS">
                        @Labels.DialogOK
                    </button>
                    <button type="button" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.CANCEL_ACTION" class="@Constants.HtmlFormat.DEFAULT_BUTTON_CLASS"
                            data-dismiss="modal">
                        @Labels.DialogCancel
                    </button>

                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="activate-modal" class="@Constants.HtmlFormat.MODAL_CLASS" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 350px">
            <div class="modal-content">


                <div class="modal-body">
                    <h4>Are you sure to activate this account?</h4>
                    @Html.HiddenFor(model => model.Username)
                </div>
                <div class="modal-footer">
                    <button type="submit" name="Button" value="Activate" class="@Constants.HtmlFormat.PRIMARY_BUTTON_CLASS">
                        @Labels.DialogOK
                    </button>
                    <button type="button" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.CANCEL_ACTION" class="@Constants.HtmlFormat.DEFAULT_BUTTON_CLASS"
                            data-dismiss="modal">
                        @Labels.DialogCancel
                    </button>

                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>
<script>
    var message = $('#SuccessMessage').val();
    if (message) {
        notif({
            msg: "<b>Success! </b>" + message,
            type: "info",
            position: "center"
        });
        $('#SuccessMessage').val("");
    }
</script>