@model AccountCreateViewModel
@{
    ViewBag.Title = "ViewProfile";
}




@Html.AntiForgeryToken()
<form action="#" method="POST">
    <section class="main-content">
        <h2>View Profile</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Username)
        @Html.HiddenFor(model => model.Password)
        <div class="row">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(model => model.Username, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.Company != null)
        {
            <div class="row">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    @Html.Label("Representative")
                </div>
                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-xs-4">
                    @Html.Label("Full name")
                </div>
                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @if (Model.Role != Constants.Role.CUSTOMER)
        {
            <div class="row">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.Role, new { @class = "control-label col-md-2" })
                </div>
                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                </div>
            </div>
            if (Model.Role != Constants.Role.MANAGER)
            {
                <div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(model => model.GroupCode, new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-xs-8">
                        @Html.DisplayFor(model => model.GroupCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GroupCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        }
        <div class="row">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            </div>
            <div class="col-xs-8">
                @if (Model.Status)
                {
                    @Html.Raw("Activate")
                }
                else
                {
                    @Html.Raw("Deactivate")
                }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Identification, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(model => model.Identification, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Identification, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.Role == "Customer" || Model.Role == "Manager" || Model.Username==Model.UserLogin)
        {
            @Html.ActionLink("Edit Profile", "EditCustomer", "Account", new { username = Model.Username }, htmlAttributes: new { @class = "btn btn-primary" })
        }
        else if (Model.Role == "Staff" || Model.Role == "Shift Head")
        {
            @Html.ActionLink("Edit Profile", "EditStaff", "Account", new { username = Model.Username }, htmlAttributes: new { @class = "btn btn-primary" })
        }
        @if (Model.Username != Model.UserLogin)
        {

            if (Model.Status)
            {
                <a class="btn btn-danger" data-toggle="modal" data-target="#deactivate-modal"><i class="fa fa-pencil"></i> Deactivate Account</a>
            }
            else
            {
                <a class="btn btn-warning" data-toggle="modal" data-target="#activate-modal"><i class="fa fa-pencil"></i> Activate Account</a>
            }

        }
    </section>

    <div id="deactivate-modal" class="@Constants.HtmlFormat.MODAL_CLASS" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 350px">
            <div class="modal-content">


                    <div class="modal-body">
                        <h4>Are you sure to deativate this account?</h4>
                        @Html.HiddenFor(model=>model.Username)
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="Button" value="Deactivate" class="@Constants.HtmlFormat.PRIMARY_BUTTON_CLASS">
                            @Labels.DialogOK
                        </button>
                        <button type="button" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.CANCEL_ACTION" class="@Constants.HtmlFormat.DEFAULT_BUTTON_CLASS"
                                data-dismiss="modal">
                            @Labels.DialogCancel
                        </button>

                    </div>
            
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="activate-modal" class="@Constants.HtmlFormat.MODAL_CLASS" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 350px">
            <div class="modal-content">


                <div class="modal-body">
                    <h4>Are you sure to activate this account?</h4>
                    @Html.HiddenFor(model => model.Username)
                </div>
                <div class="modal-footer">
                    <button type="submit" name="Button" value="Activate" class="@Constants.HtmlFormat.PRIMARY_BUTTON_CLASS">
                        @Labels.DialogOK
                    </button>
                    <button type="button" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.CANCEL_ACTION" class="@Constants.HtmlFormat.DEFAULT_BUTTON_CLASS"
                            data-dismiss="modal">
                        @Labels.DialogCancel
                    </button>

                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>