@model AccountCreateViewModel
@{
    ViewBag.Title = "ViewProfile";
}

<h2>ViewProfile</h2>


@Html.AntiForgeryToken()
<form action="#" method="POST">
    <div class="main-content">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Username)
        @Html.HiddenFor(model => model.Password)
        <div class="row">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(model => model.Username, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.Company != null)
        {
            <div class="row">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    @Html.Label("Representative")
                </div>
                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-xs-4">
                    @Html.Label("Full name")
                </div>
                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @if (Model.Role != Constants.Role.CUSTOMER)
        {
            <div class="row">
                <div class="col-xs-4">
                    @Html.LabelFor(model => model.Role, new { @class = "control-label col-md-2" })
                </div>
                <div class="col-xs-8">
                    @Html.DisplayFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                </div>
            </div>
            if (Model.Role != Constants.Role.MANAGER)
            {
                <div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(model => model.GroupCode, new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-xs-8">
                        @Html.DisplayFor(model => model.GroupCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GroupCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        }
        <div class="row">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            </div>
            <div class="col-xs-8">
                @if (Model.Status)
            {
                    @Html.Raw("Activate")
                }
                else
                {
                    @Html.Raw("Deactivate")
                }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.Identification, htmlAttributes: new {@class = "control-label col-md-2"})
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(model => model.Identification, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Identification, "", new {@class = "text-danger"})
            </div>
        </div>
        @if (Model.Role == "Customer" || Model.Role=="Manager")
        {
            <a class="btn btn-primary" data-toggle="modal" data-target="#editcustomer-modal"><i class="fa fa-pencil"></i> Update Profile</a>
        }
       @if (Model.Role == "Staff" || Model.Role == "Shift Head")
       {
        <a class="btn btn-primary" data-toggle="modal" data-target="#editstaff-modal"><i class="fa fa-pencil"></i> Update Profile</a>
       }
       @if (Model.Username != Model.UserLogin)
       {

           if (Model.Status)
           {
               <a class="btn btn-danger" data-toggle="modal" data-target="#deactivate-modal"><i class="fa fa-pencil"></i> Deactivate Account</a>
           }
           else
           {
            <a class="btn btn-warning" data-toggle="modal" data-target="#activate-modal"><i class="fa fa-pencil"></i> Activate Account</a>
           }

       }
        <!-- EDIT CUSTOMER MODAL -->
        <div class="modal fade" id="editcustomer-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="width: 500px;height: 500px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-edit"></i> Edit account of Customer</h4>
                    </div>
                    
                        <div class="modal-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Username,Model.Username, new { htmlAttributes = new { @class = "form-control disabled" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Fullname, htmlAttributes: new {@class = "control-label col-md-2"})
                                @Html.EditorFor(model => model.Fullname, Model.Fullname, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Fullname, "", new {@class = "text-danger"})
                            </div>
                            @if (Model.Company != null)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.Company, Model.Company, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                                </div>
                            }
                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Phone,Model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Email,Model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Address,Model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Identification, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Identification,Model.Identification, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Identification, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="modal-footer clearfix">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                            <button type="submit" class="btn btn-primary pull-left"> Change</button>
                        </div>
                  
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- EDIT STAFF MODAL -->
        <div class="modal fade" id="editstaff-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="width: 500px;height: 500px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-edit"></i> Edit account of Staff</h4>
                    </div>
                    <form action="#" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Username</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" value="haltt" disabled="true">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Role</label>
                                <select>
                                    <option>Shift Head</option>
                                    <option>Staff</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Status</label>
                                <select>
                                    <option>Activate</option>
                                    <option>Deactivate</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Group</label>
                                <select>
                                    <option>Group 1</option>
                                    <option>Group 2</option>
                                    <option>Group 3</option>
                                    <option>Group 4</option>
                                    <option>No Group</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Fullname</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" value="Lê Thị Thu Hà">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Phone</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" value="091234567">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Email</label>
                                <input type="text" checked="true" class="form-control" id="" value="haltt@gmail.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Address</label>
                                <input type="text" checked="true" class="form-control" id="exampleInputPassword1" value="19 Quang Trung">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Identification</label>
                                <input type="text" checked="true" class="form-control" id="exampleInputPassword1" value="1234567890">
                            </div>
                        </div>
                        <div class="modal-footer clearfix">

                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>

                            <button type="submit" class="btn btn-primary pull-left"> Change</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</form>
