@model HomeHeaderViewModel
@{
    var account = Model.Account;
    var role = Model.Role;
    var group = Model.Group;
}

<a href="@Url.Action("Index", "Home")" class="logo">
    <!-- Add the class icon to your logo image or logo icon to add the margining -->
    QTSC Corporation
</a>

<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            @if (Model.Account != null)
            {
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        @if (Model.NumberOfUnread > 0)
                        {
                            <span id="noty_count" class="label label-warning">@Model.NumberOfUnread</span>
                        }
                        else
                        {
                            <span id="noty_count" class="label label-warning" style="display: none">@Model.NumberOfUnread</span>
                        }
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have <span id="noty_count2">@Model.NumberOfUnread</span> unread notifications</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul id="noty_menu" class="menu">
                                @foreach (var notification in Model.Notifications)
                                {
                                    <li>
                                        <a href="@Url.Action("Detail", "Notification", new { code = notification.NotificationCode})">
                                            <i class="fa fa-bell"></i> @notification.Description
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="footer"><a href="@Url.Action("Index", "Notification")">View all</a></li>
                    </ul>
                </li>

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>@account.Fullname<i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img src="@Url.Content("~/img/user.png")" class="img-circle" alt="User Image" />
                            @if (role == "Manager" || role == "Customer")
                            {
                                <p>
                                    @account.Fullname - @role

                                </p>
                            }
                            else
                            {
                                <p>
                                    @account.Fullname

                                </p>
                                <p>@role - @group</p>
                            }

                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="@Url.Action("ViewProfile", "Account", new {username = @account.Username}, null)"
                                   class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("Logout", "Account")" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>

@if (Model.Account != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var hub = $.connection.remoteControllerHub;
            hub.client.notify = function (noty) {
                var noty_count = $('#noty_count').text() - -1;
                $('#noty_count').text(noty_count);
                $('#noty_count2').text(noty_count);
                $('#noty_count').css('display', '');

                var icon = $('<i></i>').attr('class', 'fa fa-bell');
                var description = noty.Description;
                var link = $('<a></a>').attr('href', '@Url.Action("Detail", "Notification")' + '/' + noty.NotificationCode).prepend(icon);
                link.prepend(description);
                var block = $('<li></li>').html(link);
                $('#noty_menu').prepend(block);
            }
            hub.client.notifyTest = function (noty) {
                var noty_count = $('#noty_count').text() - -1;
                $('#noty_count').text(noty_count);
                $('#noty_count2').text(noty_count);
                $('#noty_count').css('display', '');

                var icon = $('<i></i>').attr('class', 'ion ion-ios7-people info');
                var description = noty;
                var link = $('<a></a>').attr('href', '#').prepend(icon);
                link.prepend(description);
                var block = $('<li></li>').html(link);
                $('#noty_menu').prepend(block);
            }
            $.connection.hub.start();
        });
    </script>
}