@model HomeIndexViewModel
@{
    ViewBag.Title = Pages.HomeIndex;
    ViewBag.PageTitle = Messages.Welcome;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home)
    };
}

<div class="main-content">
    @if (Model.RoleLogin != Constants.Role.CUSTOMER)
    {
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>
                            @Model.RunningServer
                        </h3>
                        <p>
                            Running Servers
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hdd-o"></i>
                    </div>
                    <a href="@Url.Action("Index", "Server")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>
                            @Model.countWeeklyRequest
                        </h3>
                        <p>
                            Requests this week
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-reply-all"></i>
                    </div>
                    <a href="@Url.Action("Index", "ProcessRequest")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>
                            @Model.countPendingRequest
                        </h3>
                        <p>
                            Pending Requests
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-pause-circle-o"></i>
                    </div>
                    <a href="@Url.Action("Index", "ProcessRequest")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>
                            @Model.countProcessingRequest
                        </h3>
                        <p>
                            Processing Requests
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-play-circle-o"></i>
                    </div>
                    <a href="@Url.Action("Index", "ProcessRequest")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-table"></i>
                        <h3 class="box-title">List New Requests</h3>
                    </div>
                    <div class="box-body">
                        <table id="example1" class="@Constants.HtmlFormat.DATATABLE_CLASS">
                            <thead>
                                <tr class="@Constants.HtmlFormat.DATATABLE_HEADER_CLASS">
                                    <th>
                                        Request Type
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Updated Time
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbodyid">
                                @foreach (var item in Model.firstTenRequests)
                                {
                                    <tr class="clickable clickmee check" request-code="@item.RequestCode">
                                        <td>
                                            @item.RequestTypeName
                                        </td>
                                        <td>
                                            @item.StatusName
                                        </td>
                                        <td>
                                            @item.RequestedTime
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div><!-- /.box-body-->
                    <div class="box-footer">
                        <a href="@Url.Action("Index", "ProcessRequest")">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-bar-chart-o"></i>
                        <h3 class="box-title">IP Address Bar Chart</h3>
                    </div>
                    <div class="box-body">
                        <div id="bar-chart" style="height: 410px;">
                            @*<table id="MyTable" class="@Constants.HtmlFormat.DATATABLE_CLASS">

                                </table>*@
                        </div>
                    </div><!-- /.box-body-->
                    <div class="box-footer">
                        <a href="@Url.Action("Index", "IP")">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-4 col-xs-5">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>
                            @Model.RunningServer
                        </h3>
                        <p>
                            Running Servers
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hdd-o"></i>
                    </div>
                    <a href="@Url.Action("Index", "Server")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>
                            @Model.Currentip
                        </h3>
                        <p>
                            Using IP Addresses
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-info-circle"></i>
                    </div>
                    <a href="@Url.Action("Index", "Server")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>
                            @Model.countPendingRequest
                        </h3>
                        <p>
                            Pending Requests
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-pause-circle-o"></i>
                    </div>
                    <a href="@Url.Action("Index", "Request")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>
                            @Model.countProcessingRequest
                        </h3>
                        <p>
                            Processing Requests
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-play-circle-o"></i>
                    </div>
                    <a href="@Url.Action("Index", "Request")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-xs-7">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-table"></i>
                        <h3 class="box-title">List My Requests</h3>
                    </div>
                    <div class="box-body">
                        <table id="example2" class="@Constants.HtmlFormat.DATATABLE_CLASS" style="height: 450px">
                            <thead>
                                <tr class="@Constants.HtmlFormat.DATATABLE_HEADER_CLASS">
                                    <th>
                                        Request Type
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Updated Time
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbodyid">
                                @foreach (var item in Model.firstTenRequests)
                                {
                                    <tr class="clickable clickmee check" request-code="@item.RequestCode">
                                        <td>
                                            @item.RequestTypeName
                                        </td>
                                        <td>
                                            @item.StatusName
                                        </td>
                                        <td>
                                            @item.RequestedTime
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div><!-- /.box-body-->
                    <div class="box-footer">
                        <a href="@Url.Action("Index", "Request")">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    }



    <!-- page script -->
    <script>
        var bar_data = {
            data: [["Blocked IP", @Model.countblockedip], ["Used IP", @Model.countusedip], ["Available IP", @Model.countavailableip]],
            color: "#3c8dbc"
        };
        $.plot("#bar-chart", [bar_data], {
            grid: {
                borderWidth: 1,
                borderColor: "#f3f3f3",
                tickColor: "#f3f3f3"
            },
            bars: {
                numbers: {
                    show: true
                }
            },
            series: {
                bars: {
                    show: true,
                    barWidth: 0.4,
                    align: "center"
                }
            },
            xaxis: {
                mode: "categories",
                tickLength: 0,
                font: {
                    size: 15
                },
                color: "black"
            }

        });
        $('#example1').on('click', '.clickmee', function () {
            var requestcode = $(this).attr('request-code');
            window.location.assign('@Url.Action("Detail", "ProcessRequest")' + '/' + requestcode);
        });
        $('#example2').on('click', '.clickmee', function () {
            var requestcode = $(this).attr('request-code');
            window.location.assign('@Url.Action("Detail", "Request")' + '/' + requestcode);
        });
    </script>

    @section Scripts {
        @Scripts.Render(Constants.ScriptBundle.FLOTCHART)
    }
