@model HomeIndexViewModel
@{
    ViewBag.Title = Pages.HomeIndex;
    ViewBag.PageTitle = Pages.HomeIndex;
    ViewBag.Role = "Shift Head";
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home)
    };
}

<div class="main-content">
    <h2>@Messages.Welcome</h2>
    <a class="@Constants.HtmlFormat.PRIMARY_BUTTON_CLASS pull-left"
       data-toggle="modal" data-target="#displayrequesttype-modal">
        <i class="fa fa-plus"></i> @Labels.CreateRequest
    </a>
</div>


<!-- ADD LOCATION MODAL -->
<div id="displayrequesttype-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 600px">
        <div class="modal-content">
            @using (Html.BeginForm("CreateRequest", "Request", FormMethod.Get))
            {
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-plus"></i> @Messages.SelectRequestType</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Type):
                            @Html.DropDownListFor(model => model.Type, Model.RequestTypes, new {@class = "form-control"})
                        </div>

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.CANCEL_ACTION" class="@Constants.HtmlFormat.DEFAULT_BUTTON_CLASS"
                            data-dismiss="modal">
                        @Labels.Cancel
                    </button>
                    <button type="submit" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.OK_ACTION" class="@Constants.HtmlFormat.PRIMARY_BUTTON_CLASS">
                        @Labels.CreateRequest
                    </button>
                </div>
            }
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- page script -->
