@model IMS.Models.LocationIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>List of Location</h2>

@using (Html.BeginForm("Index", "Location", FormMethod.Get))
{
    <b>Search By:</b>

    <br />
    <text>Status</text>
    @Html.DropDownList("StatusSearch", "--Select--")
    <br />
        <text>Rack</text>
        @Html.DropDownList("RackSearch", "--Select--")
        <br />
        <input type="submit" value="Search" />
}
<p>
    @Html.ActionLink("Add rack and location", "CreateLocation")
</p>

<table class="table">
    <tr>
        <th>
            @Html.Raw("LocationCode")
        </th>
        <th>
            @Html.Raw("RackName")
        </th>
        <th>
            @Html.Raw("RackUnit")
        </th>
        <th>
            @Html.Raw("Status")
        </th>
        <th>
            @Html.Raw("ServerCode")
        </th>
    </tr>

    @foreach (var item in Model.Locations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                @if (item.ServerCode != null)
                {
                    @Html.ActionLink(item.ServerCode, "ServerDetails", "Server", new { id = item.Id }, null)
                }
               
            </td>

        </tr>
    }

</table>
