@using System.Collections.Generic
@using System.Security.Policy
@model IMS.Models.LocationIndexViewModel
@{
    ViewBag.Title = "LocationPage";
    ViewBag.Role = "Shift Head";
}

<section class="content-header">
    <h1>
        List of Location
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index2", "Schedule")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Location</li>
    </ol>
</section>
<section class="content">
    <a class="btn btn-primary pull-left" data-toggle="modal" data-target="#addlocation-modal"><i class="fa fa-plus"></i> Add new rack</a>
</section>
<section class="content">

    @using (Html.BeginForm("Index2", "Location", FormMethod.Get))
    {

                            <div class="form-inline">
                                <div class="form-group">
                                    <label>Filter by Rack Name: </label>
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.Racks, Model.Racks, "--Select--", htmlAttributes: new { @class = "form-control", @id = "racksearch" })
                                </div>

                            </div>

    }

</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-hover" style="border-collapse: collapse">
                
                <thead>
                <tr style="background-color: #404040">
                    <th><h4 style="color: ghostwhite">Rack Name</h4>
                    <th><h4 style="color: ghostwhite">Rack Unit</h4></th>
                    <th><h4 style="color: ghostwhite">IP Address</h4></th>
                </tr>
                </thead>
                <tbody>
                @{

                    for (int i = 0; i < Model.Locations.Count; i++)
                    {
                        var item = Model.Locations[i];
                        if (item.StatusName == "Used")
                        {
                            <tr style="background-color: #ffcccc">

                                <td>
                                    @Html.DisplayFor(modelItem => item.RackName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RackUnit)
                                </td>
                                <td>
                                    @if (item.DefaultIP != null)
                                    {
                                        @Html.ActionLink(item.DefaultIP, "ServerDetails", "Server", new {serverCode = @item.ServerCode}, null)
                                    }

                                </td>

                            </tr>
                        }
                        else
                        {
                            <tr style="background-color: #FFFFFF">

                                <td>
                                    @Html.DisplayFor(modelItem => item.RackName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RackUnit)
                                </td>

                                <td>
                                    @if (item.DefaultIP != null)
                                    {
                                        @Html.ActionLink(item.DefaultIP, "ServerDetails", "Server", new {serverCode = @item.ServerCode}, null)
                                    }

                                </td>

                            </tr>
                        }

                    }
                }
                </tbody>
                <tfoot>

                <tr style="background-color: #404040">
                    <th><h4 style="color: ghostwhite">Rack Name</h4></th>
                    <th><h4 style="color: ghostwhite">Rack Unit</h4></th>
                    <th><h4 style="color: ghostwhite">IP Address</h4></th>
                </tr>

                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->

</section><!-- /.content -->
<!-- ADD LOCATION MODAL -->
<div class="modal fade" id="addlocation-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-plus"></i> Add new rack</h4>
            </div>
            <form action="#" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        @Html.Label("Rack Name", htmlAttributes: new { @class = "control-label" })


                        @Html.EditorFor(model => model.RackName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex: A1, B1,..." } })
                        @Html.ValidationMessageFor(model => model.RackName, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.Label("Power(KW)", htmlAttributes: new { @class = "control-label" })
                        <div class="form-group" style="width: 100px">
                            @{
                                IEnumerable<SelectListItem> power = new List<SelectListItem>()
                        {
                            new SelectListItem()
                            {
                                Text = "3",
                                Value = "3"
                            },
                            new SelectListItem()
                            {
                                Text = "4",
                                Value = "4"
                            },
                            new SelectListItem()
                            {
                                Text = "5",
                                Value = "5"
                            },
                            new SelectListItem()
                            {
                                Text = "6",
                                Value = "6"
                            },
                            new SelectListItem()
                            {
                                Text = "7",
                                Value = "7"
                            },
                            new SelectListItem()
                            {
                                Text = "8",
                                Value = "8"
                            },
                            new SelectListItem()
                            {
                                Text = "9",
                                Value = "9"
                            },
                            new SelectListItem()
                            {
                                Text = "10",
                                Value = "10"
                            }
                        };
                                SelectList power1 = new SelectList(power, "Value", "Text", Model.MaximumPower);
                            }

                            @Html.DropDownList("MaximumPower", power1, htmlAttributes: new { @class = "form-control", @id = "power" })
                            @Html.ValidationMessageFor(model => model.MaximumPower, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="modal-footer clearfix">

                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>

                    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-plus"></i> Add</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- page script -->
<script type="text/javascript">
    $(function() {
        $("#example1").dataTable({
            "iDisplayLength": 42,
            "aLengthMenu": [[42, 84, 126], [42, 84, 126]]
        });

    });
</script>


