@model IMS.Models.LocationIndexViewModel
@{
    ViewBag.Title = Pages.RackIndex;
    ViewBag.PageTitle = Pages.RackIndex;
    ViewBag.Role = "Shift Head";
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Location", "Index", Pages.RackIndex)
    };
}

<!-- Main content -->
<section class="main-content">
    <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS hidden">
        @Html.HiddenFor(model => model.SuccessMessage)
    </div>
    <label style="color: #3c8dbc">Amount of Rack Available: @Model.RackAvailableCount</label>
    <div>
        <a class="btn btn-primary pull-left" data-toggle="modal" data-target="#addlocation-modal"><i class="fa fa-plus"></i> Add new rack</a>
    </div>
    <div class="clearfix"></div>
    <div style="height: 10px"></div>
    <div class="row hide">
        <div id="dropdown-template" class="col-xs-3">
            <label>Location: @Html.DropDownListFor(model => model.RackCode, Model.Racks, "All Locations", new {@class = "form-control input-sm", style = "width: 150px"}) </label>
        </div>
    </div>

    <table id="example1" class="table table-bordered table-hover" style="border-collapse: collapse">

        <thead>
        <tr style="background-color: #404040">
            <th><span style="color: ghostwhite">Rack Code</span>
            <th><span style="color: ghostwhite">Rack Name</span>
            <th><span style="color: ghostwhite">Rack Unit</span></th>
            <th><span style="color: ghostwhite">IP Address</span></th>
        </tr>
        </thead>
        <tfoot>

        <tr style="background-color: #404040">
            <th><span style="color: ghostwhite">Rack Code</span></th>
            <th><span style="color: ghostwhite">Rack Name</span></th>
            <th><span style="color: ghostwhite">Rack Unit</span></th>
            <th><span style="color: ghostwhite">IP Address</span></th>
        </tr>

        </tfoot>
    </table>
</section><!-- /.content -->

<!-- ADD LOCATION MODAL -->
<div id="addlocation-modal" class="@Constants.HtmlFormat.MODAL_CLASS" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            @using (Html.BeginForm())
            {
                <div class="modal-header">
                    <div class="@Constants.HtmlFormat.MODAL_HEADER_CLASS"><i class="fa fa-plus"></i> @Labels.AddRack</div>
                </div>
                <div class="modal-body">
                    <div class="@Constants.HtmlFormat.MODAL_ROW_CLASS">
                        <div class="@Constants.HtmlFormat.MODAL_LABEL_CLASS">
                            @Html.LabelFor(model => model.RackName)
                        </div>
                        <div class="@Constants.HtmlFormat.MODAL_CONTROL_CLASS">
                            @Html.TextBoxFor(model => model.RackName, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS })
                            @Html.ValidationMessageFor(model => model.RackName)
                        </div>

                    </div>

                    <div class="@Constants.HtmlFormat.MODAL_ROW_CLASS">
                        <div class="@Constants.HtmlFormat.MODAL_LABEL_CLASS">
                            @Html.LabelFor(model => model.Power)
                        </div>
                        <div class="@Constants.HtmlFormat.MODAL_CONTROL_CLASS">
                            @Html.DropDownListFor(model => model.MaximumPower, Model.ListPower, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS })
                            @Html.ValidationMessageFor(model => model.MaximumPower)
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.OK_ACTION" class="@Constants.HtmlFormat.PRIMARY_BUTTON_CLASS">
                        @Labels.DialogOK
                    </button>
                    <button type="button" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.CANCEL_ACTION" class="@Constants.HtmlFormat.DEFAULT_BUTTON_CLASS"
                            data-dismiss="modal">
                        @Labels.DialogCancel
                    </button>

                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- page script -->

<script>
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var rackCode = $('#RackCode').val();
            if (rackCode == '') {
                return true;
            }
            if (rackCode == data[0]) {
                return true;
            }
            return false;
        }
    );
    var message = $('#SuccessMessage').val();
    if (message) {
        notif({
            msg: "<b>Success! </b>" + message,
            type: "info",
            position: "center"
        });
        $('#SuccessMessage').val("");
    }
</script>

<script type="text/javascript">
    var table = $('#example1').DataTable({
        dom: '<lf<t>ip>',
        processing: true,
        ajax: "@Url.Action("GetAll", "Location", new {httproute = ""})",
        columns: [
            { data: "RackCode" },
            { data: "RackName" },
            { data: "RackUnit" },
            { data: "DefaultIP" }
        ],
        iDisplayLength: 42,
        aLengthMenu: [[42, 84, 126], [42, 84, 126]],
        fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            $(nRow).click(function() {
                if (aData.ServerCode != null) {
                    var url = CONSTANT.authority + '@Url.Action("Detail", "Server")' + '/' + aData.ServerCode;
                    window.location.assign(url);
                }
            });
            switch (aData.StatusName) {
            case 'Used':
                $(nRow).css('background-color', '#ccd9ff');
                break;
            }
        },
        order: [[1, "asc"] ,[ 2, "desc" ]],
        columnDefs: [
            {
                targets: [0],
                visible: false,
                searchable: true
            }
        ]
    });

    $("#example1_filter").append($('#dropdown-template').html());
    $('#dropdown-template').html('');

    $('#RackCode').change(function() {
        table.draw();
    });

    $('#RackName').autocomplete({
        source: '@Url.Action("GetAvailableName", "Rack", new { httproute = "" })'
    });

</script>

@section Styles {
    <style>
    </style>
}


