@model ServerIndexViewModel

@{
    ViewBag.Title = Pages.ServerIndex;
    ViewBag.PageTitle = Pages.ServerIndex;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Server", "Index", Pages.ServerIndex)
    };
}
<div class="main-content">
    <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
        <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
            @Html.LabelFor(model => model.SelectedStatus)
        </div>
        <div class="@Constants.HtmlFormat.FORM_CONTROL_CLASS">
            @Html.DropDownListFor(m => m.SelectedStatus, Model.ServerStatus, "Show all", new { @id = "selectedStatus", @class = Constants.HtmlFormat.FORM_INNER_CLASS })
            @Html.ValidationMessageFor(model => model.SelectedStatus)
        </div>
    </div>
    <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
        <table id="example1" class="@Constants.HtmlFormat.DATATABLE_CLASS">
            <thead>
                <tr class="@Constants.HtmlFormat.DATATABLE_HEADER_CLASS">
                    <th>@Labels.ServerCode</th>
                    <th>@Labels.Customer</th>
                    <th>@Labels.Status</th>
                    <th>@Labels.DefaultIP</th>
                    <th>@Labels.Location</th>
                    <th>@Labels.CurrentRequest</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Servers.Count; i++)
            {
                    <tr class="check" status-code="@Model.Servers[i].StatusCode">
                        <td>
                            @Html.ActionLink(Model.Servers[i].ServerCode, "Detail", "Server",
                            new { code = @Model.Servers[i].ServerCode }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.Servers[i].CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Servers[i].Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Servers[i].DefaultIP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Servers[i].RackName)U
                            @Html.DisplayFor(modelItem => Model.Servers[i].RackUnit)
                        </td>
                        <td class="sidebar-menu">
                            @if (Model.Servers[i].Requests.Count > 0)
                            {
                                <dl>
                                    @foreach (var request in Model.Servers[i].Requests)
                                    {
                                        if (request.StatusCode == Constants.StatusCode.REQUEST_PENDING ||
                                            request.StatusCode == Constants.StatusCode.REQUEST_WAITING ||
                                            request.StatusCode == Constants.StatusCode.REQUEST_PROCESSING)
                                        {
                                            <dt>
                                                @Html.ActionLink(@request.RequestTypeName, "Detais", "ProcessRequest",
                                                new { rType = request.RequestType, rCode = request.RequestCode }, new { @class = "fa fa-angle-double-right" })
                                            </dt>
                                        }
                                    }
                                </dl>
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>@Labels.ServerCode</th>
                    <th>@Labels.Customer</th>
                    <th>@Labels.Status</th>
                    <th>@Labels.DefaultIP</th>
                    <th>@Labels.Location</th>
                    <th>@Labels.CurrentRequest</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- page script -->
<script type="text/javascript">
    $(function () {
        $("#example1").dataTable({
            "iDisplayLength": -1,
            "aaSorting": [[5, "desc"]] // Sort by first column descending
        });
    });

    $("#selectedStatus").change(function () {
        var status = $("#selectedStatus").val();
        if (status == null || status == '') {
            $('#example1 tbody tr').show();
        } else {
            $('#example1 tbody tr').hide();
            $('#example1 tbody tr[status-code="' + status + '"]').show();
        }
    });
</script>
