@using IMS.Core
@using IMS.Data.Models
@model ServerIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @using (Html.BeginForm("Index", "Server", FormMethod.Get))
    {
        @*var account = (Account) Session[Constants.Session.USER_LOGIN];
        <h3>Hello: @account.Role</h3>
        <h3>@account.GroupName</h3>*@
        <b>Search By:</b>
        //@Html.RadioButton("searchBy", "Customer", true)
        <br />
        <text>Status</text>
        @Html.DropDownList("StatusSearch", "--Select--")
        <br />
        <text>Maker</text>
        @Html.DropDownList("MakerSearch", "--Select--")
        <br />
        <text>Rack</text>
        @Html.DropDownList("RackSearch", "--Select--")
        <br />
        <text>Customer</text>
        @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.Raw("Customer")
        </th>
        <th>
            @Html.Raw("Status")
        </th>
        <th>
            @Html.Raw("Maker")
        </th>
        <th>
            @Html.Raw("Modern")
        </th>
        <th>
            @Html.Raw("Default IP")
        </th>
        <th>
            @Html.Raw("Location")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Servers)
    {
        <tr>
            <td>
                @Html.ActionLink(@item.CustomerName, "ServerDetails", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modern)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackCode)U
                @Html.DisplayFor(modelItem => item.RackUnit)
            </td>
        </tr>
    }

</table>
