@model ServerIndexViewModel

@{
    ViewBag.Title = Pages.ServerIndex;
    ViewBag.PageTitle = Pages.ServerIndex;
    ViewBag.Role = "Shift Head";
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Server", "Index", Pages.ServerIndex)
    };
}

<div class="main-content">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>@Labels.ServerCode</th>
            <th>@Labels.Customer</th>
            <th>@Labels.Status</th>
            <th>@Labels.DefaultIP</th>
            <th>@Labels.Location</th>
            <th>@Labels.CurrentRequest</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Servers)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.ServerCode, "ServerDetails", "Server", new {serverCode = @item.ServerCode}, null)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultIP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RackName)U
                    @Html.DisplayFor(modelItem => item.RackUnit)
                </td>
                <td class="sidebar-menu">
                    @if (item.Requests.Count > 0)
                    {
                        <ul>
                            @foreach (var request in item.Requests)
                            {
                                <a href="#"><i class="fa fa-angle-double-right"></i> @request.RequestTypeName</a>
                            }
                        </ul>
                    }
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <th>@Labels.ServerCode</th>
            <th>@Labels.Customer</th>
            <th>@Labels.Status</th>
            <th>@Labels.DefaultIP</th>
            <th>@Labels.Location</th>
            <th>@Labels.CurrentRequest</th>
        </tr>
        </tfoot>
    </table>
</div>

<!-- page script -->
<script type="text/javascript">
    $(function () {
        $("#example1").dataTable();

    });
</script>

<!-- SERVER DETAIL MODAL -->
<div class="modal fade" id="serverdetail-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-search"></i> Server Detail</h4>
            </div>
            <div class="modal-body">

                <dl class="dl-horizontal">
                    <dt>@Labels.ServerCode</dt>
                    <dd>GHJHKRN</dd>

                    <dt>@Labels.Customer</dt>
                    <dd>Nguyễn Hùng Mạnh</dd>

                    <dt>@Labels.Maker</dt>
                    <dd>SUPERMICRO</dd>

                    <dt>@Labels.Model</dt>
                    <dd>X8 DTI</dd>

                    <dt>@Labels.Power</dt>
                    <dd>750W</dd>

                    <dt>@Labels.Size</dt>
                    <dd>2</dd>

                    <dt>@Labels.Status</dt>
                    <dd>Running</dd>

                    <dt>@Labels.DefaultIP</dt>
                    <dd>192.168.0.11</dd>

                    <dt>@Labels.Location</dt>
                    <dd>L123456 U2</dd>

                    <dt>@Labels.RegisteredDate</dt>
                    <dd>18-Jan-16 01:19:12</dd>

                    <dt>@Labels.NoOfOutlets</dt>
                    <dd>2</dd>
                        
                    <dt>@Labels.OtherAttributes</dt>
                    <dd>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Storage : 750GB
                            </li>
                            <li class="list-group-item">
                                Memory : 6GB
                            </li>
                        </ul>
                    </dd>

                    <dt>@Labels.CurrentIP</dt>
                    <dd>
                        <ul class="list-group">

                            <li class="list-group-item">
                                192.168.0.11
                            </li>
                            <li class="list-group-item">
                                192.168.0.11
                            </li>
                        </ul>
                    </dd>

                </dl>
            </div>
            <div class="modal-footer clearfix">

                <button type="button" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.CANCEL_ACTION" class="@Constants.HtmlFormat.DEFAULT_BUTTON_CLASS"
                        data-dismiss="modal"><i class="fa fa-times"></i> @Labels.Cancel
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->