@model ServerIndexViewModel

@{
    ViewBag.Title = Pages.ServerIndex;
    ViewBag.PageTitle = Pages.ServerIndex;
    ViewBag.Role = "Shift Head";
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Server", "Index", Pages.ServerIndex)
    };
}

<div class="main-content">
    <div class="row">
        <div class="col-xs-4">
            Server Status
        </div>
        <div class="col-xs-8">
            @Html.DropDownListFor(m => m.SelectedStatus, Model.ServerStatus, new { @id = "servercode" })
        </div>
    </div>

    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Labels.ServerCode</th>
                <th>@Labels.Customer</th>
                <th>@Labels.Status</th>
                <th>@Labels.DefaultIP</th>
                <th>@Labels.Location</th>
                <th>@Labels.CurrentRequest</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Servers)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.ServerCode, "Detail", "Server", new { code = @item.ServerCode }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DefaultIP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RackName)U
                        @Html.DisplayFor(modelItem => item.RackUnit)
                    </td>
                    <td class="sidebar-menu">
                        @if (item.Requests.Count > 0)
                        {
                            <dl>
                                @foreach (var request in item.Requests)
                                {
                                    if (request.StatusCode == Constants.StatusCode.REQUEST_PENDING ||
                                        request.StatusCode == Constants.StatusCode.REQUEST_WAITING ||
                                        request.StatusCode == Constants.StatusCode.REQUEST_PROCESSING)
                                    {
                                        <dt>
                                            @Html.ActionLink(@request.RequestTypeName, "Detais", "ProcessRequest",
                                            new { rType = request.RequestType, rCode = request.RequestCode }, new { @class = "fa fa-angle-double-right" })
                                        </dt>
                                    }
                                }
                            </dl>
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>@Labels.ServerCode</th>
                <th>@Labels.Customer</th>
                <th>@Labels.Status</th>
                <th>@Labels.DefaultIP</th>
                <th>@Labels.Location</th>
                <th>@Labels.CurrentRequest</th>
            </tr>
        </tfoot>
    </table>
</div>

<!-- page script -->
<script type="text/javascript">
    $(function () {
        $("#example1").dataTable({
            "iDisplayLength": -1,
            "aaSorting": [[5, "desc"]] // Sort by first column descending
        });
    });
</script>
