@model ServerIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Raw("Server Name")
        </th>
        <th>
            @Html.Raw("Customer")
        </th>
        <th>
            @Html.Raw("Status")
        </th>
        <th>
            @Html.Raw("Maker")
        </th>
        <th>
            @Html.Raw("Modern")
        </th>
        <th>
            @Html.Raw("Power")
        </th>
        <th>
            @Html.Raw("Size")
        </th>

        <th>
            @Html.Raw("Default IP")
        </th>
        <th>
            @Html.Raw("Location")
        </th>
        <th>
            @Html.Raw("Registered Date")
        </th>
        <th>
            @Html.Raw("Number of Outlet")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Servers) {
    <tr>
        @*<td>  servername
            @Html.DisplayFor(modelItem => item.ServerCode)
        </td>*@
        <td>
       @*     @Html.DisplayFor(modelItem => item.Maker + item.Modern)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modern)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Power)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefaultIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RackCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisteredDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Outlet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
