@model TaskIndexViewModel
@{
    ViewBag.Title = Pages.RequestIndex;
    ViewBag.PageTitle = Pages.RequestIndex;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Request", "Index", Pages.Request)
    };
}
<!-- Main content -->
<section class="main-content">
    <table id="example1" class="@Constants.HtmlFormat.DATATABLE_CLASS">
        <thead>
            <tr class="@Constants.HtmlFormat.DATATABLE_HEADER_CLASS">
                <th>
                    Request Type
                </th>
                <th>
                    Status
                </th>
                <th>
                    Assignor
                </th>
                <th>
                    Assigned Time
                </th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.Tasks.Count; i++)
            {
            <tbody>
                <tr class="eachTask" request-code="@Model.Tasks[i].RequestCode">
                    <td>
                        @Html.DisplayFor(modelItem => Model.Tasks[i].RequestTypeName)
                        @Html.HiddenFor(modelItem => modelItem.Tasks[i].RequestTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Tasks[i].StatusName)
                        @Html.HiddenFor(modelItem => modelItem.Tasks[i].StatusCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Tasks[i].ShiftHeadName)
                        @Html.HiddenFor(modelItem => modelItem.Tasks[i].ShiftHead)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Tasks[i].AssignedTime)
                        @Html.HiddenFor(modelItem => modelItem.Tasks[i].AssignedTime)
                    </td>
                </tr>
            </tbody>
        }
        <tfoot>
            <tr style="background-color: #404040">
                <th>
                    <span style="color: ghostwhite">
                        RequestType
                    </span>
                </th>
                <th>
                    <span style="color: ghostwhite">
                        Status
                    </span>
                </th>
                <th>
                    <span style="color: ghostwhite">
                        Assignor
                    </span>
                </th>
                <th>
                    <span style="color: ghostwhite">
                        Assigned Time
                    </span>
                </th>
            </tr>
        </tfoot>
    </table>
</section><!-- /.content -->
<script>
    function filterRequest() {
        var typeCode = $("#FilterByRequestType").val();
        var statusCode = $("#FilterByStatus").val();
        var duration = $('#FilterByPeriodOfTime').val();
        if (typeCode == null) {
            typeCode = '';
        }
        if (statusCode == null) {
            statusCode = '';
        }
        if (duration == null || isNaN(duration)) {
            duration = 99999;
        }
        duration = duration - 0;

        //if (typeCode == '' && statusCode == '') {
        //    $('#example1 tbody[type-code][status-code]').show();
        //}
        //else {
        //$('#example1 tbody').hide();
        //if (typeCode != '' && statusCode == '') {
        //    $('#example1 tbody[type-code="' + typeCode + '"]').show();
        //} else if (statusCode != '' && typeCode == '') {
        //    $('#example1 tbody[status-code="' + statusCode + '"]').show();
        //} else {
        //    $('#example1 tbody[type-code="' + typeCode + '"][status-code="' + statusCode + '"]').show();
        //}
        //}
        $('#example1 tbody[type-code][status-code]').each(function (i, e) {
            var row = $(e);
            var rowTypeCode = row.attr('type-code');
            var rowStatusCode = row.attr('status-code');
            var rowDuration = row.attr('duration');
            var isShow = false;
            if (typeCode == '' && statusCode == '' && duration >= rowDuration) {
                isShow = true;
            } else if (typeCode != '' && statusCode == '') {
                if (rowTypeCode == typeCode && duration >= rowDuration) {
                    isShow = true;
                }
            } else if (typeCode == '' && statusCode != '') {
                if (rowStatusCode == statusCode && duration >= rowDuration) {
                    isShow = true;
                }
            } else {
                if (rowTypeCode == typeCode && rowStatusCode == statusCode && duration >= rowDuration) {
                    isShow = true;
                }
            }
            if (isShow) {
                row.show();
            } else {
                row.hide();
            }
        });
    }
</script>

<script type="text/javascript">
    $('.eachTask').click(function () {
        var requestCode = $(this).attr("request-code");
        //DOING
        //$.post("@(Url.Action("Detail", "ProcessRequest"))", { code: requestCode });
        @*$.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.Action("Detail", "ProcessRequest"))",
            data: { 'code': requestCode },
            dataType: "json"
            //success: function (data) {
            //    return false;
            //}
        });*@
    });

    $(".clickmee").click(function () {
        $(this).closest('tbody')
            .next('.showhide')
            .toggle('fast');
    });

    $("#example1").dataTable({
        "iDisplayLength": -1,
        "aaSorting": [[3, "desc"]] // Sort by first column descending
    });

    $("#FilterByRequestType").change(function () {
        filterRequest();

    });

    $("#FilterByStatus").change(function () {
        filterRequest();
    });

    $("#FilterByPeriodOfTime").change(function () {
        filterRequest();
    });

    filterRequest();
</script>