@using System.Collections.Generic
@model RequestAddServerViewModel

@{
    ViewBag.Title = Pages.RequestCreate;
    ViewBag.PageTitle = Pages.RequestCreate;
    ViewBag.Role = Constants.Role.SHIFT_HEAD;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Request", "Index", Pages.Request),
        new BreadcrumbModel("Request", "Create", Pages.RequestCreate),
        new BreadcrumbModel("Request", "Create", Pages.RequestAddServer, new { Type = Constants.RequestTypeCode.SERVER_ADD })
    };
}
<script>
    $(document).ready(function () {
        $("#formAssign").hide();
        $("#isAssign").click(function () {
            $("#formAssign").show();
        });
    });
</script>
<section class="content-header">
    <h1>
        Request Add Server
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("RequestHistory2", "Request")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Request Add Server</li>
    </ol>
</section>
@using (Html.BeginForm("RequestAddServer", "Request", FormMethod.Post))
{
    <section class="content">
        <div class="box">
            <div class="box-body table-responsive">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Appointment Time</label>
                        <div class="container">
                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            @Html.EditorFor(model => model.AppointmentTime, new { htmlAttributes = new { @class = "form-control", placeholder = "Date to go to center" } })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*@{
                        if (Request.Url.ToString().Contains("act=Update"))
                        {
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">Assign Name</label>
                                <div class="form-group col-sm-4">
                                    @Html.EditorFor(model => model.AssignedName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">Identification</label>
                                <div class="form-group col-sm-4">
                                    @Html.EditorFor(model => model.Identification, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <button class="col-sm-2 col-xs-offset-4 btn btn-default" id="isAssign">
                                    <label>Assign Different Person?</label>
                                </button>
                            </div>
                        }
                    }*@
                @*<div id="formAssign">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">Assign Name</label>
                            <div class="form-group col-sm-4">
                                @Html.EditorFor(model => model.AssignedName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group" id="formAssign">
                            <label for="" class="col-sm-4 control-label">Identification</label>
                            <div class="form-group col-sm-4">
                                @Html.EditorFor(model => model.Identification, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <br />*@
                <div class="form-group">
                    <button id="addserver" type="button" class="col-sm-2 col-xs-offset-4 btn btn-default">
                        Add Server Information
                    </button>
                </div>
                <div class="form-group" style="width: 1000px">
                    <table id="" class="table table-bordered table-striped  col-xs-offset-1">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Maker</th>
                                <th>Power</th>
                                <th>Model</th>
                                <th>Size</th>
                                <th>Bandwidth</th>
                                <th>Serial Number</th>
                                <th>Part Number</th>
                                <th>Memory</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        @for (int i = 0; i < Model.Servers.Count; i++)
                        {
                            <tr>
                                <td>
                                    i
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.Servers[i].Maker, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.HiddenFor(modelItem => modelItem.Servers[i].Maker)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.Servers[i].Power, new {htmlAttributes = new {@class = "form-control"}})W
                                    @Html.HiddenFor(modelItem => modelItem.Servers[i].Power)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.Servers[i].Model, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.HiddenFor(modelItem => modelItem.Servers[i].Model)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.Servers[i].Size, new {htmlAttributes = new {@class = "form-control"}})U
                                    @Html.HiddenFor(modelItem => modelItem.Servers[i].Size)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.Servers[i].Bandwidth, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.HiddenFor(modelItem => modelItem.Servers[i].Bandwidth)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.Servers[i].SerialNumber, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.HiddenFor(modelItem => modelItem.Servers[i].SerialNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.Servers[i].PartNumber, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.HiddenFor(modelItem => modelItem.Servers[i].PartNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.Servers[i].Memory, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.HiddenFor(modelItem => modelItem.Servers[i].Memory)
                                </td>
                                <td>
                                    <a href="#" x-code="@Model.Servers[i].TempCode">Edit</a>
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "DeleteTempServer", "Request", new {tempCode = Model.Servers[i].TempCode}, null)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Note</label>
                    <div class="form-group col-sm-4">
                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div style="display: none;">
                        @Html.EditorFor(model => model.Servers)
                    </div>
                    <button type="submit" class="btn btn-primary col-xs-offset-4">Send</button>
                </div>
            </div>
        </div><!-- /.box-body -->
    </section>
}
<!-- ADD SERVER MODAL -->
<div id="serverinfo-modal" class="@Constants.HtmlFormat.MODAL_CLASS" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("SaveTempData", "Request", FormMethod.Post))
            {
                <div class="modal-header">
                    <div class="@Constants.HtmlFormat.MODAL_HEADER_CLASS"><i class="fa fa-plus"></i> @Labels.AddServer</div>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="@Constants.HtmlFormat.MODAL_ROW_CLASS">
                        <div class="@Constants.HtmlFormat.MODAL_LABEL_CLASS">
                            @Html.LabelFor(model => model.Server.Maker)
                        </div>
                        <div class="@Constants.HtmlFormat.MODAL_CONTROL_CLASS">
                            @Html.TextBoxFor(model => model.Server.Maker, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                            @Html.ValidationMessageFor(model => model.Server.Maker)
                        </div>
                    </div>

                    <div class="@Constants.HtmlFormat.MODAL_ROW_CLASS">
                        <div class="@Constants.HtmlFormat.MODAL_LABEL_CLASS">
                            @Html.LabelFor(model => model.Server.Power)
                        </div>
                        <div class="@Constants.HtmlFormat.MODAL_CONTROL_CLASS">
                            @Html.TextBoxFor(model => model.Server.Power, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                            @Html.ValidationMessageFor(model => model.Server.Power)
                        </div>
                    </div>

                    <div class="@Constants.HtmlFormat.MODAL_ROW_CLASS">
                        <div class="@Constants.HtmlFormat.MODAL_LABEL_CLASS">
                            @Html.LabelFor(model => model.Server.Model)
                        </div>
                        <div class="@Constants.HtmlFormat.MODAL_CONTROL_CLASS">
                            @Html.TextBoxFor(model => model.Server.Model, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                            @Html.ValidationMessageFor(model => model.Server.Model)
                        </div>
                    </div>

                    <div class="@Constants.HtmlFormat.MODAL_ROW_CLASS">
                        <div class="@Constants.HtmlFormat.MODAL_LABEL_CLASS">
                            <label>Size</label>
                        </div>
                        <div class="@Constants.HtmlFormat.MODAL_CONTROL_CLASS">
                            @{
                                List<SelectListItem> myList = new List<SelectListItem>();
                                int[] list = new int[] {1, 2, 4};
                                foreach (var i in list)
                                {
                                    string num = (i).ToString();
                                    SelectListItem item = new SelectListItem()
                                    {
                                        Value = num,
                                        Text = num
                                    };
                                    myList.Add(item);
                                }
                            }
                            @Html.DropDownListFor(model => model.Server.Size, myList, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>

                    <div class="@Constants.HtmlFormat.MODAL_ROW_CLASS">
                        <div class="@Constants.HtmlFormat.MODAL_LABEL_CLASS">
                            <label>Bandwidth</label>
                        </div>
                        <div class="@Constants.HtmlFormat.MODAL_CONTROL_CLASS">
                            @Html.RadioButtonFor(model => model.Server.Bandwidth, "100Mbps", new {htmlAttributes = new {@class = "form-control"}}) 100Mbps
                            @Html.RadioButtonFor(model => model.Server.Bandwidth, "1Gbps", new {htmlAttributes = new {@class = "form-control"}}) 1Gbps
                        </div>
                    </div>

                    <div class="@Constants.HtmlFormat.MODAL_ROW_CLASS">
                        <div class="@Constants.HtmlFormat.MODAL_LABEL_CLASS">
                            @Html.LabelFor(model => model.Server.SerialNumber)
                        </div>
                        <div class="@Constants.HtmlFormat.MODAL_CONTROL_CLASS">
                            @Html.TextBoxFor(model => model.Server.SerialNumber, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                            @Html.ValidationMessageFor(model => model.Server.SerialNumber)
                        </div>
                    </div>

                    <div class="@Constants.HtmlFormat.MODAL_ROW_CLASS">
                        <div class="@Constants.HtmlFormat.MODAL_LABEL_CLASS">
                            @Html.LabelFor(model => model.Server.PartNumber)
                        </div>
                        <div class="@Constants.HtmlFormat.MODAL_CONTROL_CLASS">
                            @Html.TextBoxFor(model => model.Server.PartNumber, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                            @Html.ValidationMessageFor(model => model.Server.PartNumber)
                        </div>
                    </div>

                    <div class="@Constants.HtmlFormat.MODAL_ROW_CLASS">
                        <div class="@Constants.HtmlFormat.MODAL_LABEL_CLASS">
                            @Html.LabelFor(model => model.Server.Memory)
                        </div>
                        <div class="@Constants.HtmlFormat.MODAL_CONTROL_CLASS">
                            @Html.TextBoxFor(model => model.Server.Memory, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                            @Html.ValidationMessageFor(model => model.Server.Memory)
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.CANCEL_ACTION" class="@Constants.HtmlFormat.DEFAULT_BUTTON_CLASS"
                            data-dismiss="modal">
                        @Labels.DialogCancel
                    </button>
                    <button type="submit" id="submitserver" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.OK_ACTION" class="@Constants.HtmlFormat.PRIMARY_BUTTON_CLASS">
                        @Labels.DialogOK
                    </button>
                </div>
                                }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    function clearModal() {
        $('#Server_Maker').val('');
        $('#Server_Power').val('');
        $('#Server_Model').val('');
        $('#Server_Size').val('1');
        $('#Server_SerialNumber').val('');
        $('#Server_PartNumber').val('');
        $('#Server_Memory').val('');
    }

    function setModal(server) {
        $('#Server_Maker').val(server.Maker);
        $('#Server_Power').val(server.Power);
        $('#Server_Model').val(server.Model);
        $('#Server_Size').val(server.Size);
        $('#Server_SerialNumber').val(server.SerialNumber);
        $('#Server_PartNumber').val(server.PartNumber);
        $('#Server_Memory').val(server.Memory);
    }
</script>

<script type="text/javascript">
    $('#datetimepicker1').datetimepicker({
        "disabledHours": [0, 1, 2, 3, 4, 5, 6, 7, 21, 22, 23, 24],
        "enabledHours": [8, 9, 10, 12, 12, 14, 15, 16, 17, 18, 19, 20],
        "stepping": '30',
        "minDate": 'moment'
    });

    $('#addserver').click(function () {
        clearModal();
        $('#submitserver').val('@Constants.FormAction.OK_ACTION');
        $('#serverinfo-modal').modal('show');
    });

    $('a[x-code]').click(function() {
        clearModal();
        $('#submitserver').val('@Constants.FormAction.EDIT_ACTION');
        $('#serverinfo-modal').modal('show');
        var tempCode = $(this).attr('x-code');
        get('@Url.Action("GetTempServer", "Temp", new { httproute = "" })' + '/' + tempCode, function (data) {
            setModal(data.Server);
        });
        return false;
    });
</script>
