@model ProcessRequestAddServerViewModel
@{
    ViewBag.Title = Pages.ProcessRequestAddServer;
    ViewBag.PageTitle = Pages.ProcessRequestAddServer;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("ProcessRequest", "Index", Pages.ProcessRequest),
        new BreadcrumbModel("ProcessRequest", "Detail", Pages.ProcessRequestAddServer)
    };
}
<section class="main-content">
    @using (Html.BeginForm("CancelRequestAddServer", "Request", FormMethod.Post))
    {
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            @Html.HiddenFor(model => model.SuccessMessage)
            @Html.HiddenFor(model => model.ErrorMessage)
            <div class="col-xs-6">
                <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
                    <div class="@Constants.HtmlFormat.FORM_LABEL_X2_CLASS">
                        @Html.LabelFor(model => model.RequestInfo.StatusName)
                    </div>
                    <div class="@Constants.HtmlFormat.FORM_DETAIL_X2_CLASS">
                        @Html.DisplayFor(model => model.RequestInfo.StatusName, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS })
                    </div>
                </div>
                <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
                    <div class="@Constants.HtmlFormat.FORM_LABEL_X2_CLASS">
                        @Html.LabelFor(model => model.RequestInfo.RequestedTime)
                    </div>
                    <div class="@Constants.HtmlFormat.FORM_DETAIL_X2_CLASS">
                        @Html.DisplayFor(model => model.RequestInfo.RequestedTime, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS })
                    </div>
                </div>
                <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
                    <div class="@Constants.HtmlFormat.FORM_LABEL_X2_CLASS">
                        @Html.LabelFor(model => model.RequestInfo.AppointmentTime)
                    </div>
                    <div class="@Constants.HtmlFormat.FORM_DETAIL_X2_CLASS">
                        @Html.DisplayFor(model => model.RequestInfo.AppointmentTime, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS })
                    </div>
                </div>
                <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
                    <div class="@Constants.HtmlFormat.FORM_LABEL_X2_CLASS">
                        @Html.LabelFor(model => model.RequestInfo.Description)
                    </div>
                    <div class="@Constants.HtmlFormat.FORM_DETAIL_X2_CLASS">
                        @Html.Raw(Model.RequestInfo.Description)
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                @Html.LabelFor(model => model.Servers)
            </div>
            <div class="@Constants.HtmlFormat.FORM_CONTROL_CLASS">
                <table id="" class="@Constants.HtmlFormat.DATATABLE_CLASS">
                    <thead>
                    <tr class="@Constants.HtmlFormat.DATATABLE_HEADER_CLASS">
                        <th>No</th>
                        <th>Power</th>
                        <th>Size</th>
                        <th>Bandwidth</th>
                        <th>Serial Number</th>
                        <th>Part Number</th>
                        @if (Model.RequestInfo.StatusCode == Constants.StatusCode.REQUEST_DONE)
                        {
                            <th>Default IP</th>
                            <th>Location</th>
                        }
                    </tr>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Model.Servers.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.Raw(i + 1)
                            </td>
                            <td>
                                @Html.DisplayFor(model => Model.Servers[i].Power, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})W
                                @Html.HiddenFor(modelItem => modelItem.Servers[i].Power)
                            </td>
                            <td>
                                @Html.DisplayFor(model => Model.Servers[i].Size, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})U
                                @Html.HiddenFor(modelItem => modelItem.Servers[i].Size)
                            </td>
                            <td>
                                @Html.DisplayFor(model => Model.Servers[i].Bandwidth, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                                @Html.HiddenFor(modelItem => modelItem.Servers[i].Bandwidth)
                            </td>
                            <td>
                                @Html.DisplayFor(model => Model.Servers[i].SerialNumber, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                                @Html.HiddenFor(modelItem => modelItem.Servers[i].SerialNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(model => Model.Servers[i].PartNumber, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                                @Html.HiddenFor(modelItem => modelItem.Servers[i].PartNumber)
                            </td>
                            @if (Model.RequestInfo.StatusCode == Constants.StatusCode.REQUEST_DONE)
                            {
                                <td>
                                    @Html.DisplayFor(model => Model.Servers[i].DefaultIP, new {@class = Constants.HtmlFormat.FORM_INNER_CLASS})
                                    @Html.HiddenFor(modelItem => modelItem.Servers[i].DefaultIP)
                                </td>
                                <td>
                                    @*<input type="hidden" value="true" name="location"/>*@
                                    @for (int j = 0; j < Model.Servers[i].ServerLocation.Count; j++)
                                    {
                                        @Html.DisplayFor(model => Model.Servers[i].ServerLocation[j].RackName)
                                        <text>U</text>@Html.DisplayFor(model => Model.Servers[i].ServerLocation[j].RackUnit, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS })
                                        @Html.HiddenFor(modelItem => modelItem.Servers[i].RackCode)
                                    <br />
                                    }
                                </td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        if (Model.RequestInfo.Reason != null && Model.RequestInfo.StatusCode == Constants.StatusCode.REQUEST_REJECTED)
        {
            <hr />
            <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
                <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                    @Html.LabelFor(model => model.RequestInfo.Reason)
                </div>
                <div class="@Constants.HtmlFormat.FORM_CONTROL_CLASS">
                    @Html.DisplayFor(model => model.RequestInfo.Reason, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS })
                </div>
            </div>
        }
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
            </div>
            <div class="@Constants.HtmlFormat.FORM_CONTROL_CLASS">
                @Html.HiddenFor(model => model.RequestInfo.RequestCode)
                @Html.HiddenFor(model => model.CustomerInfo.Customer)
                @Html.HiddenFor(x => x.RequestInfo.RequestType)
                @Html.HiddenFor(model => model.RequestInfo.TaskCode)
                @if ((Model.RequestInfo.StatusCode == Constants.StatusCode.REQUEST_PENDING ||
                      Model.RequestInfo.StatusCode == Constants.StatusCode.REQUEST_WAITING ||
                      Model.RequestInfo.StatusCode == Constants.StatusCode.REQUEST_PROCESSING) && User.IsInRole("Customer"))
                {
                    <a class="btn btn-danger" data-toggle="modal" data-target="#Cancelrequest">Cancel</a>

                }
            </div>
        </div>
        <!-- Cancel request modal -->
        <div id="Cancelrequest" class="@Constants.HtmlFormat.MODAL_CLASS" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="width: 350px">
                <div class="modal-content">


                    <div class="modal-body">
                        <h4>Are you sure to cancel this request?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btnCancel" name="@Constants.FormAction.CANCEL_ACTION" value="@Constants.FormAction.CANCEL_ACTION" class="@Constants.HtmlFormat.PRIMARY_BUTTON_CLASS">
                            @Labels.OK
                        </button>
                        <button type="button" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.CANCEL_ACTION" class="@Constants.HtmlFormat.DEFAULT_BUTTON_CLASS"
                                data-dismiss="modal">
                            @Labels.DialogCancel
                        </button>

                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    }
</section>
<script type="text/javascript">
    $(function () {
        var message = $('#SuccessMessage').val();
        var err = $('#ErrorMessage').val();
        if (message) {
            notif({
                msg: "<b>Success! </b>" + message,
                type: "info",
                position: "center"
            });
            $('#SuccessMessage').val("");
        }
        if (err) {
            notif({
                msg: err,
                type: "error",
                position: "center"
            });
            $('#ErrorMessage').val("");
        }
    });
</script>
