@model RequestIPViewModel
@{
    ViewBag.Title = Pages.RequestChangeIP;
    ViewBag.PageTitle = Pages.RequestChangeIP;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Request", "Index", Pages.Request),
        new BreadcrumbModel("Request", "Create", Pages.RequestCreate),
        new BreadcrumbModel("Request", "Create", Pages.RequestChangeIP, new { Type = Constants.RequestTypeCode.CHANGE_IP })
    };
}
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>

<section class="main-content">
    @using (Html.BeginForm("ChangeIp", "Request", FormMethod.Post))
    {
        <div class="form-group">
            <label class="col-sm-4 control-label">Which server do you want change IP?</label>
            <div class="col-sm-2">
                @Html.DropDownListFor(m => m.SelectedServer, Model.Servers, new { @id = "servercode" })
            </div>
        </div>
        <div id="divPartialView" class="hidden">
            <div class="form-group">
                <label class="col-sm-4 control-label">Which IP do you want to change?</label>
                <div class="col-sm-2">

                    <table id="MyTable" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.Raw("IP")
                                </th>
                                <th>
                                    @Html.Raw("Select IPs")
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyid"></tbody>
                    </table>
                    @Html.HiddenFor(model => model.Ips, new { id = "ips" })
                    @*@Html.HiddenFor(model => model.SelectedServerCode)*@
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Description</label>
                <div class="col-sm-2">
                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", style = "width: 500px; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;", placeholder = "Some description here" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-2">
                    <button name="Action" type="submit" value="send" id="demo">Send</button>
                </div>
            </div>
        </div>
    }
</section>
<script type="text/javascript">
    $(function () {
        $('#servercode').change(function () {
            var pass = $('#servercode').val();
            var myTable = $('#MyTable > tbody');
            $('#tbodyid').empty();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("FetchIPs", "Request"))",
                data: { "SelectedServer": pass },
                dataType: "json",
                success: function (data) {
                    $('#divPartialView').removeClass('hidden');
                    $(data.ServerIPs).each(function (index, item) {
                        //myTable.append($('tr', { value: item.ServerCode, text: item.ServerCode }));
                        myTable.append('<tr><td>' + item.CurrentIP + '</td><td>' + '<input type="checkbox" id="CheckBoxList"'
                            + index + ' name="chk" value="' + item.CurrentIP + '" /></td></tr>');
                    });
                }
            });
        });

        //Get value of selected items
        $("#demo").click(function () {
            var selectedValues = [];
            $("[id*=MyTable] input:checked").each(function () {
                selectedValues.push($(this).val());
            });
            //if (selectedValues.length > 0) {
            //    alert("Selected Value(s): " + selectedValues);
            //} else {
            //    alert("No item has been selected.");
            //}
            $('#ips').val(selectedValues);
        });
    });

</script>

