@model RequestChangeIPViewModel
@{
    ViewBag.Title = Pages.RequestChangeIP;
    ViewBag.PageTitle = Pages.RequestChangeIP;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Request", "Index", Pages.Request),
        new BreadcrumbModel("Request", "Create", Pages.RequestCreate),
        new BreadcrumbModel("Request", "Create", Pages.RequestChangeIP, new { Type = Constants.RequestTypeCode.CHANGE_IP })
    };
}
<section class="main-content">
    @using (Html.BeginForm("ChangeIp", "Request", FormMethod.Post))
    {
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                @Html.LabelFor(model => model.SelectedServer)
            </div>
            <div class="@Constants.HtmlFormat.FORM_CONTROL_CLASS">
                @Html.DropDownListFor(m => m.SelectedServer, Model.ServerOptions, new { @id = "servercode", @class = Constants.HtmlFormat.FORM_INNER_CLASS })
                @Html.ValidationMessageFor(model => model.SelectedServer)
            </div>
        </div>
        <div id="divPartialView" class="hidden">
            <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
                <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                    @Html.LabelFor(model => model.ReturningIPs)
                </div>
                <div class="@Constants.HtmlFormat.FORM_CONTROL_CLASS">
                    <table id="MyTable" class="@Constants.HtmlFormat.DATATABLE_CLASS">
                        <thead>
                        <tr class="@Constants.HtmlFormat.DATATABLE_HEADER_CLASS">
                            <th>
                                <div>
                                    <input id="checkAll" type="checkbox" />
                                </div>
                            </th>
                            <th>
                                <div>@Labels.IP</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="tbodyid"></tbody>
                    </table>
                    @Html.HiddenFor(model => model.ReturningIPs, new {id = "ips"})
                </div>
            </div>
        </div>
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                @Html.LabelFor(model => model.RequestInfo.Description)
            </div>
            <div class="@Constants.HtmlFormat.FORM_CONTROL_CLASS">
                @Html.TextAreaFor(model => model.RequestInfo.Description, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS })
                @Html.ValidationMessageFor(model => model.RequestInfo.Description)
            </div>
        </div>
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
            </div>
            <div class="@Constants.HtmlFormat.FORM_CONTROL_CLASS">
                <button type="submit" id="btnAccept" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.OK_ACTION" class="@Constants.HtmlFormat.PRIMARY_BUTTON_CLASS">
                    @Labels.DialogOK
                </button>
            </div>
        </div>
    }
</section>
<script type="text/javascript">
    $(function () {
        $('#servercode').change(function () {
            var pass = $('#servercode').val();
            var myTable = $('#MyTable > tbody');
            $('#tbodyid').empty();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("FetchChangedIPs", "Request"))",
                data: { "SelectedServer": pass },
                dataType: "json",
                success: function (data) {
                    $('#divPartialView').removeClass('hidden');
                    $(data.ServerIPs).each(function (index, item) {
                        myTable.append('<tr><td>' + '<input type="checkbox" class="check" id="CheckBoxList"' + index + ' name="chk" value="' + item.CurrentIP + '" /></td><td>' + item.CurrentIP + '</td></tr>');
                    });
                }
            });
        });
        //Get value of selected items
        $("#btnAccept").click(function () {
            var selectedValues = [];
            $("[id*=MyTable] input:checked").each(function () {
                selectedValues.push($(this).val());
            });
            $('#ips').val(selectedValues);
        });

        $("#checkAll").change(function () {
            var state = $('#checkAll').is(':checked');
            $('tr.check input[type="checkbox"]').prop('checked', state);
        });
    });
</script>

