@model RequestCreateViewModel

@{
    ViewBag.Title = Pages.RequestCreate;
    ViewBag.PageTitle = Pages.RequestCreate;
    ViewBag.Role = Constants.Role.SHIFT_HEAD;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Request", "Index", Pages.Request),
        new BreadcrumbModel("Request", "Create", Pages.RequestCreate)
    };
}

<div class="main-content">
    @for (var i = 0; i < Model.RequestTypes.Count; i++)
    {
        @Html.ActionLink(Model.RequestTypes[i].RequestTypeName, "Create", "Request", new { Type = Model.RequestTypes[i].RequestTypeCode }, new { @class = "btn btn-default" })
    }

    @*@using (Html.BeginForm("Create", "Request", FormMethod.Get))
    {
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                @Html.LabelFor(model => model.Type):
            </div>
            <div class="@Constants.HtmlFormat.FORM_CONTROL_CLASS">
                @Html.DropDownListFor(model => model.Type, Model.RequestTypes, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS })
            </div>
        </div>
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
            </div>
            <div class="@Constants.HtmlFormat.FORM_CONTROL_CLASS">
                <button type="submit" name="" value="@Constants.FormAction.OK_ACTION" class="@Constants.HtmlFormat.PRIMARY_BUTTON_CLASS">
                    @Labels.DialogOK
                </button>
            </div>
        </div>
    }*@
</div>
