@model RequestCreateViewModel
@using IMS.Data.Business

@{
    ViewBag.Title = "EditRequestHistory";
}

<h2>EditCustomer</h2>

@using (Html.BeginForm("EditRequestHistory", "Request", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.RequestCode, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-6">
                @Html.EditorFor(model => model.RequestCode, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.RequestCode, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RequestType, "RequestType", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @{
                    var type = RequestTypeBLO.Current.GetAll();
                    var myList = new SelectList(type, "RequestTypeCode", "RequestTypeName");
                }
                @Html.DropDownList("RequestType", myList, htmlAttributes: new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.RequestType, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RequestedTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.RequestedTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequestedTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusCode, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-6">
                @{

                    var status = StatusBLO.Current.GetAll();
                    var myList1 = new SelectList(status, "StatusCode", "StatusName");

                }
                @Html.DropDownList("StatusCode", myList1, htmlAttributes: new { @class = Constants.HtmlFormat.FORM_INNER_CLASS })
                @Html.ValidationMessageFor(model => model.StatusCode, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "RequestHistory")
</div>
