@model RequestHistoryViewModel
@{
    ViewBag.Title = Pages.RequestIndex;
    ViewBag.PageTitle = Pages.RequestIndex;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Request", "Index", Pages.Request)
    };
}
<!-- Main content -->
<section class="main-content">
    @using (Html.BeginForm("Index", "DeleteRequest", FormMethod.Post))
    {
            @*<div class="row" style="margin-bottom: 20px;">
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label>From:</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" name="start1" value="@ViewBag.startDate" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label>To:</label>
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' class="form-control" name="end1" value="@ViewBag.endDate" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary pull-left"> Filter</button>
                        </div>
                    </div>
                </div>*@
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.Raw("RequestCode")
                        </th>
                        <th>
                            @Html.Raw("RequestType")
                        </th>
                        <th>
                            @Html.Raw("RequestedTime")
                        </th>
                        <th>
                            @Html.Raw("Status")
                        </th>
                        <th>
                            @Html.Raw("Action")
                        </th>
                    </tr>
                </thead>

                @for (int i = 0; i < Model.Request.Count; i++)
                {
                    <tbody class="clickmee">
                        <tr>
                            <td>
                                @Html.ActionLink(Model.Request[i].LastestStatusRequest.RequestCode, "EditRequestHistory", new { id = Model.Request[i].Id })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Request[i].LastestStatusRequest.RequestTypeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Request[i].LastestStatusRequest.LogTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Request[i].LastestStatusRequest.StatusName)
                            </td>
                            @if (Model.Request[i].LastestStatusRequest.StatusName == Constants.StatusName.REQUEST_PENDING)
                            {
                                @*@Html.HiddenFor(modelItem => Model.Request[i].LastestStatusRequest.RequestCode)
                                    @Html.HiddenFor(modelItem => Model.Request[i].LastestStatusRequest.RequestTypeCode)
                                    <td>
                                        <button type="submit" class="btn btn-primary" style="width: 100px" name="Cancel">Cancel</button>
                                    </td>*@
                                <td>
                                    @Html.ActionLink("Cancel", "Index", "DeleteRequest",
                                new
                                {
                                    requestCode = Model.Request[i].LastestStatusRequest.RequestCode,
                                    requestType = Model.Request[i].LastestStatusRequest.RequestTypeCode,
                                    actionName = "Cancel"
                                },null)
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                    </tbody>
                    <tbody class="showhide" style="display: none; background-color: lightgrey;">
                        @if (Model.Request[i].OldStatusRequests != null)
                        {
                            foreach (var old in Model.Request[i].OldStatusRequests)
                            {
                                <tr style="background-color: lightgrey;">
                                    <td>
                                        @Html.DisplayFor(modelItem => old.RequestCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => old.RequestTypeName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => old.LogTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => old.StatusName)
                                    </td>
                                    @if (Model.Request[i].LastestStatusRequest.StatusName == Constants.StatusName.REQUEST_PENDING)
                                    {
                                        @*@Html.HiddenFor(modelItem => Model.Request[i].LastestStatusRequest.RequestCode)
                                            @Html.HiddenFor(modelItem => Model.Request[i].LastestStatusRequest.RequestTypeCode)
                                            <td>
                                                <button type="submit" class="btn btn-primary" style="width: 100px" name="Cancel">Cancel</button>
                                            </td>*@
                                        <td>
                                            @Html.ActionLink("Cancel", "Index", "DeleteRequest",
                                       new
                                       {
                                           requestCode = Model.Request[i].LastestStatusRequest.RequestCode,
                                           requestType = Model.Request[i].LastestStatusRequest.RequestTypeCode,
                                           actionName = "Cancel"
                                       }, null)
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                }
                <tfoot>
                    <tr>
                        <th>
                            @Html.Raw("RequestCode")
                        </th>
                        <th>
                            @Html.Raw("RequestType")
                        </th>
                        <th>
                            @Html.Raw("RequestedTime")
                        </th>
                        <th>
                            @Html.Raw("Status")
                        </th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        }
</section><!-- /.content -->

<script type="text/javascript">
    $(document).ready(function () {
        //var oTable = $('#example1').DataTable({
        //});
        //oTable.fnSort([[2, 'desc']]);

        //$('#datetimepicker1').datetimepicker({
        //});
        //$('#datetimepicker2').datetimepicker({
        //});

        $(".clickmee").click(function () {
            $(this).closest('tbody')
        .next('.showhide')
        .toggle('fast');
        });
    });
</script>