@model NotificationViewModel
@{
    ViewBag.Title = "ListNotifications";
    ViewBag.Role = "Shift Head";
}

<script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.js")"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>
<script>
    //$(document).ready(function () {
    //    var table = document.getElementById("myTable");
    //    var row = table.insertRow(1);
    //    var cellRequestCode = row.insertCell(0);
    //    var cellRequestType = row.insertCell(1);
    //    var cellRequestStatus = row.insertCell(2);
    //    //var cellCustomer = row.insertCell(2);
    //    //var cellDescription = row.insertCell(3);
    //    //var cellAppointmentTime = row.insertCell(4);
    //    //cell1.innerHTML = "NEW CELL1";

    //    var commandHub = $.connection.remoteControllerHub;
    //    commandHub.client.executeCommand = function (requestCode, typeOfRequest, customer, description, appointmentTime, requestStatus) {
    //        //$('#result').append(requestCode + ' | ' + typeOfRequest + ' | ' + customer + ' | ' + description + ' | ' + appointmentTime + ' | ' + requestStatus + '<br/>');
    //        cellRequestCode.innerHTML = requestCode;
    //        cellRequestType.innerHTML = typeOfRequest;
    //        cellRequestStatus.innerHTML = requestStatus;
    //        //cellCustomer.innerHTML = customer;
    //        //cellDescription.innerHTML = description;
    //        //cellAppointmentTime.innerHTML = appointmentTime;
    //    };
    //    $.connection.hub.start();
    //});

</script>
<section class="content-header">
    <h1>
        List of Notification
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index2", "Schedule")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">List of Notification</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>RequestCode</th>
                        <th>Customer</th>
                        <th>RequestType</th>
                        <th>RequestedTime</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var item in Model.NotificationList)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.RequestCode, "RequestDetais", "Request", new { rType = item.RequestType, rCode = item.RequestCode }, null)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestTypeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestedTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusName)
                        </td>
                        <td><a href="#" data-toggle="modal" class="btnRequestCode" data-target="#acceptrequest-modal" data-requestCode="@item.RequestCode">Accept Request</a></td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>RequestCode</th>
                        <th>Customer</th>
                        <th>RequestType</th>
                        <th>RequestedTime</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section><!-- /.content -->
<!-- ACCEPT REQUEST MODAL -->
<div class="modal fade" id="acceptrequest-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-check"></i> Accept Request</h4>
            </div>
            @using (Html.BeginForm("AcceptRequest", "Request", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Assign Name</label>
                        <select>
                            <option>You</option>
                            <option>tienhlh</option>
                            <option>namch</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" id="requestCode" name="requestCode" value=""/>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-check"></i> Accept</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    $(function () {
        $("#example1").dataTable();
        $('#tableBody').on('click', '.btnRequestCode', function() {
            var result = $(this).attr('data-requestCode');
            $('#requestCode').val(result);
        });
    });
</script>


