@model NotificationViewModel

<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.js")"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>
<script>
    $(document).ready(function () {
        var table = document.getElementById("myTable");
        var row = table.insertRow(1);
        var cellRequestCode = row.insertCell(0);
        var cellRequestType = row.insertCell(1);
        var cellCustomer = row.insertCell(2);
        var cellDescription = row.insertCell(3);
        var cellAppointmentTime = row.insertCell(4);
        var cellRequestStatus = row.insertCell(5);
        //cell1.innerHTML = "NEW CELL1";

        var commandHub = $.connection.remoteControllerHub;
        commandHub.client.executeCommand = function (requestCode, typeOfRequest, customer, description, appointmentTime, requestStatus) {
            //$('#result').append(requestCode + ' | ' + typeOfRequest + ' | ' + customer + ' | ' + description + ' | ' + appointmentTime + ' | ' + requestStatus + '<br/>');
            cellRequestCode.innerHTML = requestCode;
            cellRequestType.innerHTML = typeOfRequest;
            cellCustomer.innerHTML = customer;
            cellDescription.innerHTML = description;
            cellAppointmentTime.innerHTML = appointmentTime;
            cellRequestStatus.innerHTML = requestStatus;
        };
        $.connection.hub.start();
    });

</script>
<body>
    <table id="myTable" class="table">
        <tr>
            <th>Request Code</th>
            <th>Type of Request</th>
            <th>Customer</th>
            <th>Description</th>
            <th>Appointment Time</th>
            <th>Request Status</th>
        </tr>

        @foreach (var item in Model.NotificationList)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.RequestCode, "RequestDetais", "Request", new { rType = item.RequestType, rCode = item.RequestCode }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>new
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
            </tr>
        }
    </table>
    <br>
</body>
