

@model RequestIPViewModel

<h2>EditCustomer</h2>

@using (Html.BeginForm("ProcessRequestAssignIp", "Request", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Customer request</h4>
        @Html.HiddenFor(x => x.RequestCode)
        @Html.HiddenFor(x => x.Customer)
        @Html.HiddenFor(x => x.RequestType)
        @Html.HiddenFor(x => x.Ips)
        <div class="form-group">
            @Html.LabelFor(model => model.Customer, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Customer, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Customer, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestedTime, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">

                @Html.TextBoxFor(model => model.RequestedTime, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.RequestedTime, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Customer wants number of IPs", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.IpNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Available Ips", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.Ips, new MultiSelectList(Model.IpSelectListItems, "Value", "Text"), new { SelectionMode = "Multiple"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">

                @Html.TextBoxFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Approve" class="btn btn-default"/>
            </div>
        </div>
    </div>
}
