@model RequestRentRackViewModel

@{
    ViewBag.Title = "RequestRentRackInfo2";
    ViewBag.Role = "Shift Head";
}

<section class="content-header">
    <h1>
        Detail Request Rent Rack
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index2", "Schedule")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Detail Request Rent Rack</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-body table-responsive">
            @using (Html.BeginForm("ProcessRequestRentRack", "ProcessRequest", FormMethod.Post))
            {
                <dl class="dl-horizontal">
                    <dt>
                        From customer
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>
                    <dt>
                        Full Name
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>
                    <dt>
                        Requested Time
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RequestedTime, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>
                    <dt>
                        Status
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StatusName, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>
                    <dt>
                        Amount of racks
                    </dt>

                    <dd>
                        3

                    </dd>
                    <div class="form-group">
                        <dt>
                            Description
                        </dt>

                        <dd>
                            I want to be assigned as soon as possible
                        </dd>
                    </div>


                    <dt></dt>
                    @Html.HiddenFor(x => x.RequestCode)
                    @Html.HiddenFor(x => x.Customer)
                    @Html.HiddenFor(x => x.RequestType)
                    <dd>
                        <button type="submit" class="btn btn-primary">Approve</button>
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </dd>

                </dl>
            }
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>

