@using IMS.Data.Business
@model RequestAddServerViewModel

@{
    ViewBag.Title = "RequestAddServer";
}

<h2>Request Add Server</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Server</h4>
        <hr />
        //tai sao ko hien thi duoc
        @*<div>
                @Html.EditorFor(model => model.AppointmentTime, new { id = "apTime" })
            </div>*@

        @*Demo ung dung*@
        <div>
            <h2>Add Attributes to Server</h2>
            <a href="#" id="addAtr">Add</a>
            <span id="spin"></span>
        </div>
        @for (int i = 0; i < Model.SelectedAttributes.Count; i++)
        {
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SelectedAttributes[i], Model.AttributeList, new {@class = "form-control", style = "width:200px"})
                    @Html.TextBoxFor(model=>  model.AttributeValues[i])
                </div>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Maker, htmlAttributes: new { @class = "control-label col-md-2", @id = "test" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Maker, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Maker, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modern, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modern, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Modern, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Power, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Power, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Power, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Outlet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Outlet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Outlet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send Request" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-ui-1.11.4.js"></script>
<script type="text/javascript">
    //$(document).ready(function () {
    //    $('#apTime').datepicker({
    //        appendText: ' Hello, this is append text.',
    //        showOn: 'both', //Co the dung 'button', 'focus'
    //        buttonText: 'Calendar',
    //        dateFormat: 'mm-dd-yy',
    //        numberOfMonths: 2, //Hien bao nhieu cot month
    //        changeMonth: true, //Lua chon month duoi dang dropdownlist
    //        changeYear: true, //Lua chon month duoi dang dropdownlist
    //        minDate: new Date(2005, 1, 1),
    //        maxDate: new Date(2019, 12, 1)
    //    });
    //});
    $(function () {
        //var newContent = '<div class="added">Added</div>';
        $("#addAtr").click(function () {
            $('#test').hide();
        });
    });
</script>
