@using IMS.Data.Business
@model IMS.Models.RequestIndexViewModel
@{
    ViewBag.Title = "RequestHistory2";
    ViewBag.Role = "Customer";
}
<section class="content-header">
    <h1>
        List of Notification
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("RequestHistory2", "Request")"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.Raw("RequestCode")
                        </th>
                        <th>
                            @Html.Raw("RequestType")
                        </th>
                        <th>
                            @Html.Raw("RequestedTime")
                        </th>
                        <th>
                            @Html.Raw("Status")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Request)
                    {
                        <tr>
                            <td>

                                @*<td>
                                    <a href="@Url.Action("RequestAddServer2", "Request", new {act = "Update"})">R123456</a>
                                </td>*@

                                @Html.DisplayFor(modelItem => item.RequestCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestedTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusName)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            @Html.Raw("RequestCode")
                        </th>
                        <th>
                            @Html.Raw("RequestType")
                        </th>
                        <th>
                            @Html.Raw("RequestedTime")
                        </th>
                        <th>
                            @Html.Raw("Status")
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->

</section><!-- /.content -->

<script type="text/javascript">
            $(function() {
                $("#example1").dataTable();

            });
</script>