@model RequestIPViewModel


@{
    ViewBag.Title = "RequestReturnIP";
}
<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>

@using (Html.BeginForm("RequestReturnIp", "Request", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h3>Request return IP</h3>
    <div class="form-group">
        @Html.Label("ServerCode", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SelectedServerCode, Model.Servers, new { @id = "servercode" })
        </div>
    </div>
    <div id="divPartialView" class="hidden">
        <table id="MyTable" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.Raw("IP")
                    </th>
                    <th>
                        @Html.Raw("Select IPs")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        @Html.HiddenFor(model => model.Ips, new { id = "ips" })
        @Html.HiddenFor(model => model.SelectedServerCode)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <button name="Action" type="submit" value="send" id="demo">Send Requests</button>
}

<script type="text/javascript">
    $(function () {
        $('#servercode').change(function () {
            var pass = $('#servercode').val();
            var myTable = $('#MyTable > tbody');
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("FetchIPs", "Request"))",
                data: { "SelectedServerCode": pass },
                dataType: "json",
                success: function (data) {
                    $('#divPartialView').removeClass('hidden');
                    $(data.ServerIPs).each(function (index, item) {
                        //myTable.append($('tr', { value: item.ServerCode, text: item.ServerCode }));
                        myTable.append('<tr><td>' + item.CurrentIP + '</td><td>' + '<input type="checkbox" id="CheckBoxList"'
                            + index + ' name="chk" value="' + item.CurrentIP + '" /></td></tr>');
                    });
                }
            });
        });

        //Get value of selected items
        $("#demo").click(function () {
            var selectedValues = [];
            $("[id*=MyTable] input:checked").each(function () {
                selectedValues.push($(this).val());
            });
            if (selectedValues.length > 0) {
                alert("Selected Value(s): " + selectedValues);
            } else {
                alert("No item has been selected.");
            }
            $('#ips').val(selectedValues);
        });
    });

</script>
