@model RequestReturnRackViewModel
@{
    ViewBag.Title = Pages.RequestReturnRack;
    ViewBag.PageTitle = Pages.RequestReturnRack;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Request", "Index", Pages.Request),
        new BreadcrumbModel("Request", "Create", Pages.RequestCreate),
        new BreadcrumbModel("Request", "Create", Pages.RequestReturnRack, new { Type = Constants.RequestTypeCode.RENT_RACK })
    };
}

<section class="main-content">
    @using (Html.BeginForm("ReturnRack", "Request", FormMethod.Post))
    {
        <div class="form-group">
            <label class="col-sm-4 control-label">Which rack do you want to return?</label>
            <div></div>
        </div>
        @Html.HiddenFor(model => model.SelectedRacks, new {id = "selectedRacks"})
        <div class="form-group">
            <label></label>
            <div>
                <table id="MyTable" class="table">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="checkAll"/>check all
                        </th>
                        <th>
                            Rack
                        </th>
                        <th>
                            Number of server(s)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.AllRacks)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" class="selectedRack" value="@item.RackCode"/>
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.RackName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.ServerNum, new {@class = "zeroServer"})
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Note</label>
            <div class="col-sm-2">
                @Html.TextAreaFor(model => model.Description, new {htmlAttributes = new {@class = "form-control", style = "width: 500px; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;", placeholder = "Some description here"}})
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-2">
                <button type="submit" class="btn btn-primary" id="btnSend">Send</button>
            </div>
        </div>
    }
</section>

<script>
    $(function () {
        $("#btnSend").click(function () {
            var selectedValues = [];
            $("[id*=MyTable] input:checked").each(function () {
                selectedValues.push($(this).val());
            });
            if (selectedValues.length > 0) {
                alert("Selected Value(s): " + selectedValues);
            } else {
                alert("No item has been selected.");
            }
            $('#selectedRacks').val(selectedValues);
        });
    });
</script>
