@model RequestReturnRackViewModel
@{
    ViewBag.Title = Pages.RequestReturnRack;
    ViewBag.PageTitle = Pages.RequestReturnRack;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Request", "Index", Pages.Request),
        new BreadcrumbModel("Request", "Create", Pages.RequestCreate),
        new BreadcrumbModel("Request", "Create", Pages.RequestReturnRack, new { Type = Constants.RequestTypeCode.RENT_RACK })
    };
}

<section class="main-content">
    @using (Html.BeginForm("ReturnRack", "Request", FormMethod.Post))
    {
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                <label>Select Rack</label>
            </div>
            <div class="@Constants.HtmlFormat.FORM_CONTROL_CLASS">
                <table id="MyTable" class="@Constants.HtmlFormat.DATATABLE_CLASS">
                    <thead>
                        <tr class="@Constants.HtmlFormat.DATATABLE_HEADER_CLASS">
                            <th>
                                <input type="checkbox" id="checkAll" />
                            </th>
                            <th>
                                Rack
                            </th>
                            <th>
                                Number of server(s)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.AllRacks.Count; i++)
                        {
                            <tr class="check" rack-code="@Model.AllRacks[i].RackCode">
                                <td>
                                    @if (Model.AllRacks[i].ServerNum != 0)
                                    {
                                        @Html.CheckBoxFor(modelItem => Model.AllRacks[i].Checked, new { disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(modelItem => Model.AllRacks[i].Checked)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.AllRacks[i].RackName)
                                    @Html.HiddenFor(model => Model.AllRacks[i].RackName)
                                    @Html.HiddenFor(model => Model.AllRacks[i].RackCode)
                                </td>
                                <td class="cannotclick">
                                    @Html.DisplayFor(model => Model.AllRacks[i].ServerNum)
                                    @if (Model.AllRacks[i].ServerNum != 0)
                                    {
                                        @Html.ActionLink("Return all servers", "ReturnRackByBringServerAway", "Request",
                                       new { rackCode = Model.AllRacks[i].RackCode }, null)
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="@Constants.HtmlFormat.FORM_CONTROL_CLASS">
                @Html.TextAreaFor(model => model.Description, new { @class = Constants.HtmlFormat.FORM_INNER_CLASS })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="@Constants.HtmlFormat.FORM_ROW_CLASS">
            <div class="@Constants.HtmlFormat.FORM_LABEL_CLASS">
            </div>
            <div class="@Constants.HtmlFormat.FORM_CONTROL_CLASS">
                @Html.HiddenFor(model => model.SelectedRacks, new { id = "selectedRacks" })
                <button type="submit" id="btnAccept" name="@Constants.FormAction.ACTION_NAME" value="@Constants.FormAction.OK_ACTION" class="@Constants.HtmlFormat.PRIMARY_BUTTON_CLASS">
                    @Labels.DialogOK
                </button>
            </div>
        </div>
    }
</section>

<script>
    $("#checkAll").change(function () {
        var state = $('#checkAll').is(':checked');
        $('tr.check input[type="checkbox"]:not(:disabled)').prop('checked', state);
    });
</script>
