@model IEnumerable<IMS.Models.Server>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Raw("Customer")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modern)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Power)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.Raw("Default IP")
        </th>
        <th>
            @Html.Raw("Registered Date")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.Fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modern)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Power)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPAddressPool.IPAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisteredDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServerId })
        </td>
    </tr>
}

</table>
