@model IEnumerable<IMS.Models.LogRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account1.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestType1.RequestName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account1.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestType1.RequestName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LogId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LogId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LogId })
        </td>
    </tr>
}

</table>
